{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="large-12 columns">
      <label for="subject">Subject</label>
      <input id="subject" type="text" required></input>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label for="opennebula_version">{{ project }} Version</label>
      <input id="opennebula_version" type="text" required></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="description">Description</label>
      <textarea id="description" rows="5" placeholder="Please enter the details of your request. A member of our support staff will respond as soon as possible." required></textarea>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="severity">Subject</label>
      <select id="severity" name="severity">
        <option value="severity_1">Severity 1. Product Error: Catastrophic problem in running production systems</option>
        <option value="severity_2">Severity 2. Product Error: High-impact problem in running production systems</option>
        <option value="severity_3">Severity 3. Product Error: Low impact problem on a running production system </option>
        <option value="severity_4" selected>Severity 4. Usage, Design, Configuration, or Integration Question</option>
      </select>
    </div>
  </div>
</form>
