<tr>
  <td>
    <input type="text" wizard_field="VENDOR" value="{{vendor}}">
  </td>
  <td>
    <input type="text" wizard_field="DEVICE" value="{{device}}">
  </td>
  <td>
    <input type="text" wizard_field="CLASS" value="{{class}}">
  </td>
  <td>
    <a href="#"><i class="fa fa-times-circle remove-tab"></i></a>
  </td>
</tr>