[Unit]
Description=OpenNebula Flow Service
After=syslog.target network.target
After=opennebula.service
AssertFileNotEmpty=/var/lib/one/.one/oneflow_auth

[Service]
Type=simple
Group=oneadmin
User=oneadmin
ExecStartPre=-/usr/sbin/logrotate -f /etc/logrotate.d/opennebula-flow -s /var/lib/one/.logrotate.status
ExecStart=/usr/bin/ruby /usr/lib/one/oneflow/oneflow-server.rb
StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
