[Unit]
Description=OpenNebula econe Server
After=syslog.target network.target
After=opennebula.service
AssertFileNotEmpty=/var/lib/one/.one/ec2_auth

[Service]
Type=simple
Group=oneadmin
User=oneadmin
ExecStartPre=-/usr/sbin/logrotate -f /etc/logrotate.d/opennebula-econe -s /var/lib/one/.logrotate.status
ExecStart=/usr/bin/ruby /usr/lib/one/ruby/cloud/econe/econe-server.rb
StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
