[Unit]
Description=OpenNebula Gate Proxy Service
After=syslog.target network.target

[Service]
Type=simple
Group=root
User=root
ExecStart=/usr/bin/ruby /usr/lib/one/onegate-proxy/onegate-proxy.rb
Restart=always
RestartSec=5
SyslogIdentifier=opennebula-gate-proxy

[Install]
WantedBy=multi-user.target
