[Unit]
Description=OpenNebula SSH persistent connection cleaner
After=remote-fs.target

[Timer]
OnActiveSec=0s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=default.target
