[Unit]
Description=OpenNebula FireEdge Server
After=syslog.target network.target
After=opennebula.service
#TODO?
AssertFileNotEmpty=/var/lib/one/.one/sunstone_auth

[Service]
Type=simple
Group=oneadmin
User=oneadmin
ExecStartPre=-/usr/sbin/logrotate -f /etc/logrotate.d/opennebula-fireedge -s /var/lib/one/.logrotate.status
ExecStart=/bin/sh -c 'exec node /usr/lib/one/fireedge/dist/index.js >>/var/log/one/fireedge.log 2>>/var/log/one/fireedge.error'
StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
