[Unit]
Description=OpenNebula Gate Service
After=syslog.target
After=network.target

[Service]
Type=simple
Group=oneadmin
User=oneadmin

ExecStart=/usr/bin/ruby /usr/lib/one/onegate/onegate-server.rb
PIDFile=/var/run/one/onegate.pid

[Install]
WantedBy=multi-user.target
