[Unit]
Description=OpenNebula econe Server
After=syslog.target
After=network.target

[Service]
Type=simple
Group=oneadmin
User=oneadmin

ExecStart=/usr/bin/ruby /usr/lib/one/ruby/cloud/econe/econe-server.rb
PIDFile=/var/run/one/econe-server.pid

[Install]
WantedBy=multi-user.target
