<div class="row" name="str_secgroups_tab_id" str_secgroups_tab_id="{{str_secgroups_tab_id}}">
    <div class="row" id="{{str_secgroups_tab_id}}_security_groups">
        {{{securityGroupsTableHTML}}}
    </div>
</div>