<dl class="tabs vertical" id="template_create_hybrid_tabs" data-tab>
  <dt class="text-center">
    <a href="" class="button tiny radius" id="tf_btn_hybrid">
      <span class="fa fa-plus"></span>
      {{tr "Add another provider"}}
    </a>
  </dt>
</dl>
<div class="tabs-content vertical" id="template_create_hybrid_tabs_content"></div>