<div class="text-center provision_info_flow_loading">
  <span class="fa-stack fa-5x" style="color: #dfdfdf"> <i class="fa fa-cloud fa-stack-2x"></i> <i class="fa  fa-spinner fa-spin fa-stack-1x fa-inverse"></i>
  </span>
  <br>
  <br>
  <span style="font-size: 18px; color: #999"></span>
</div>
<div class="provision_info_flow">
  <div class="row">
    <div class="large-12 large-centered columns">
      <ul class="inline-list provision_action_icons">
        <li>
          <a href"#" title="{{tr "Recover a failed service, cleaning the failed VMs"}}" class="left button small radius success provision_recover_button">
            <i class="fa fa-fw fa-lg fa-wrench"/></a>
        </li>
        <li class="right">
          <a href"#" title="{{tr "Delete"}}" class="button small radius alert provision_delete_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-trash-o"/></a>
          <a href"#" title="{{tr "Shutdown"}}" class="button small radius secondary provision_shutdown_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-power-off"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="provision_confirm_action large-10 large-centered columns"></div>
  </div>
  <br>
  <div class="row">
    <div class="large-4 columns">
      <ul class="provision-pricing-table_flow_info provision-pricing-table" style="border: 0px !important; background: #fff;"></ul>
    </div>
    <div class="large-8 columns">
      <div class="row">
        <div class="large-12 columns">
          <ul class="provision_roles_ul large-block-grid-2 medium-block-grid-2 small-block-grid-1 text-center"></ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="provision_role_vms_container large-12 large-centered columns"></div>
  </div>
</div>