<div class="">
  <div class="large-6 columns">
    <div class="row graph_legend">
      <h3 class="subheader">
        <small>{{tr "CPU"}}</small>
      </h3>
    </div>
    <div class="row">
      <div class="large-10 columns centered graph" id="host_cpu_graph" style="height: 100px;"></div>
    </div>
    <div class="row graph_legend">
      <div class="large-10 columns centered" id="host_cpu_legend"></div>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="row graph_legend">
      <h3 class="subheader">
        <small>{{tr "MEMORY"}}</small>
      </h3>
    </div>
    <div class="row">
      <div class="large-10 columns centered graph" id="host_mem_graph" style="height: 100px;"></div>
    </div>
    <div class="row graph_legend">
      <div class="large-10 columns centered" id="host_mem_legend"></div>
    </div>
  </div>
</div>