{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="">
  <div class="large-6 columns">
    <div class="row graph_legend">
      <h3 class="subheader">
        <small>{{tr "CPU"}}</small>
      </h3>
    </div>
    <div class="row">
      <div class="large-10 columns centered graph text-center" id="host_cpu_graph" style="height: 100px;">
        <span  id="provision_dashboard_total" style="font-size:80px">
          <i class="fas fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
    <div class="row graph_legend">
      <div class="large-10 columns centered" id="host_cpu_legend"></div>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="row graph_legend">
      <h3 class="subheader">
        <small>{{tr "MEMORY"}}</small>
      </h3>
    </div>
    <div class="row">
      <div class="large-10 columns centered graph text-center" id="host_mem_graph" style="height: 100px;">
        <span  id="provision_dashboard_total" style="font-size:80px">
          <i class="fas fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
    <div class="row graph_legend">
      <div class="large-10 columns centered" id="host_mem_legend"></div>
    </div>
  </div>
</div>
