<table id="datatable_zones" class="datatable twelve">
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox" class="check_all" value=""/>
      </th>
      <th>{{tr "ID"}}</th>
      <th>{{tr "Name"}}</th>
      <th>{{tr "Endpoint"}}</th>
    </tr>
  </thead>
  <tbody id="tbodyzones"></tbody>
</table>