*.a
*.o
*.pyc
*.DS_Store
.xmlrpc_test/
.sconsign.dblite
share/man/*.gz
src/im_mad/collectd/collectd
src/scheduler/src/sched/.xmlrpc_test/
src/scheduler/src/sched/mm_sched
src/sunstone/locale/languages/*.js
src/mad/utils/tty_expect
src/nebula/.xmlrpc_test/
src/nebula/oned
share/doc/one/html

*.class
src/oca/java/jar
src/oca/java/share/doc

src/sunstone/public/.sass-cache
src/sunstone/public/node_modules
src/sunstone/public/bower_components
src/sunstone/public/css/app.css
src/sunstone/public/css/app.min.css
src/sunstone/public/dist/
.tx/config
