.gitignore
src/fireedge/package-lock.json
*.a
*.o
*.pyc
*.DS_Store
.xmlrpc_test/
.sconsign.dblite
share/install_gems/Gemfile.lock
share/man/*
!share/man/build.sh
src/im_mad/collectd/collectd
src/mad/utils/tty_expect
src/nebula/.xmlrpc_test/
src/nebula/oned
src/monitor/src/monitor/onemonitord
share/doc/one/html
src/svncterm_server/genfont
src/svncterm_server/svncterm_server
src/im_mad/remotes/status.db

src/schedm_mad/remotes/rank/src/sched/place
src/schedm_mad/remotes/one_drs/vendor/lib/

*.class
src/oca/java/bin
src/oca/java/jar
src/oca/java/share/doc
src/oca/java/java-oca*.tar.gz

src/vmm_mad/remotes/lxd/tests/
src/oca/python/pyone/bindings
src/oca/python/build/
src/oca/python/dist/
src/oca/python/pyone.egg-info/
src/oca/python/doc/

src/docker_machine/pkg
src/docker_machine/src/docker_machine/bin/docker-machine-driver-opennebula
src/docker_machine/src/docker_machine/vendor/

.tx/config

src/fireedge/node_modules
src/fireedge/dist
src/fireedge/test
src/fireedge/.vscode/launch.json
src/fireedge/yarn-error.log
src/fireedge/.DS_Store
src/fireedge/cypress/screenshots
src/fireedge/yarn.lock


share/esx-fw-vnc/*.rpm
share/esx-fw-vnc/.vagrant*

*.vscode
*.code-workspace
share/context/*
!share/context/download_context.sh
!share/context/SConstruct

# grpc generated
src/rm/grpc/src/
src/oca/ruby/opennebula/grpc/*_pb.rb
src/oca/ruby/opennebula/grpc/.proto_built

# editors temporary/swap files
*.swp
*.swo

# backups
*.*-

# vendor
src/datastore_mad/remotes/restic/vendor/bin/
src/oneprometheus/vendor/alertmanager.arm64/
src/oneprometheus/vendor/alertmanager/
src/oneprometheus/vendor/node_exporter.arm64/
src/oneprometheus/vendor/node_exporter/
src/oneprometheus/vendor/prometheus.arm64/
src/oneprometheus/vendor/prometheus/
src/form/vendor/terraform
src/form/vendor/terraform.arm64
