.gitignore
src/fireedge/package-lock.json
*.a
*.o
*.pyc
*.DS_Store
.xmlrpc_test/
.sconsign.dblite
share/install_gems/Gemfile.lock
share/man/*
!share/man/build.sh
src/im_mad/collectd/collectd
src/scheduler/src/sched/.xmlrpc_test/
src/scheduler/src/sched/mm_sched
src/sunstone/locale/languages/*.js
src/mad/utils/tty_expect
src/nebula/.xmlrpc_test/
src/nebula/oned
src/monitor/src/monitor/onemonitord
share/doc/one/html
src/svncterm_server/genfont
src/svncterm_server/svncterm_server
src/im_mad/remotes/status.db

*.class
src/oca/java/bin
src/oca/java/jar
src/oca/java/share/doc
src/oca/java/java-oca*.tar.gz

src/vmm_mad/remotes/lxd/tests/
src/oca/python/pyone/bindings
src/oca/python/build/
src/oca/python/dist/
src/oca/python/pyone.egg-info/
src/oca/python/doc/

src/docker_machine/pkg
src/docker_machine/src/docker_machine/bin/docker-machine-driver-opennebula
src/docker_machine/src/docker_machine/vendor/

src/sunstone/public/.sass-cache
src/sunstone/public/node_modules
src/sunstone/public/bower_components
src/sunstone/public/css/app.css
src/sunstone/public/css/app.min.css
src/sunstone/public/dist/
src/sunstone/public/locale/languages/*.js
src/sunstone/public/package-lock.json
.tx/config

src/fireedge/node_modules
src/fireedge/dist
src/fireedge/test
src/fireedge/.vscode/launch.json
src/fireedge/yarn-error.log
src/fireedge/.DS_Store
src/fireedge/cypress/screenshots
src/fireedge/yarn.lock

src/onedb/local/
src/onedb/shared/

# Enterprise part of onecfg
src/onecfg/lib/ee.rb
src/onecfg/lib/ee/
src/onecfg/share/migrators/

share/esx-fw-vnc/*.rpm
share/esx-fw-vnc/.vagrant*

*.vscode
*.code-workspace
share/context/*
!share/context/download_context.sh
!share/context/SConstruct

# editors temporary/swap files
*.swp
*.swo

# backups
*.*-
