<form data-abide="ajax" id="{{formPanelId}}Advanced" class="custom creation">
  <div class="row">
    <div class="columns large-12">
      <label for="file_datastores_raw">{{tr "Datastore"}}:</label>
      <div id="file_datastore_raw" name="file_datastore_raw"></div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>{{tr "Write the Image template here"}}</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <textarea id="template" rows="15" required></textarea>
    </div>
  </div>
</form>