<form data-abide="ajax" id="{{formPanelId}}Advanced" class="custom creation">
  <div class="row">
    <div class="large-12 columns">
      <p>{{tr "Write the Service template here"}}</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <textarea id="template" rows="15" required></textarea>
    </div>
  </div>
</form>