---
- name: Check hosts connectivity
  hosts: all
  gather_facts: false
  tasks:
    - name: Wait for hosts to be up
      ansible.builtin.wait_for_connection:
        timeout: 900
    - name: Wait for hosts to be reachable through SSH
      wait_for:
        host: "{{ ansible_host }}"
        port: 22
        state: started
        timeout: 900
  tags: always

# ------------------------------------------------------------------------------
# One-deploy playbooks
# ------------------------------------------------------------------------------
- ansible.builtin.import_playbook: opennebula.deploy.main

# ------------------------------------------------------------------------------
# Other playbooks (optional)
# ------------------------------------------------------------------------------
# - name: 'Example role'
#   hosts: all
#   tasks:
#     - name: 'Example task'
#       ansible.builtin.debug:
#         msg: 'Hello, world!'
#   tags: always

- name: 'Networking configuration'
  hosts: node
  remote_user: ubuntu
  become: True
  roles:
    - role: iptables
      iptables_base_rules_interface: "{{ ansible_default_ipv4.interface }}"
  tags: always
