<div class="text-center" style="font-size: 18px; color: #999">
  <br>
  <span class="fa-stack fa-3x" style="color: #dfdfdf"> 
    <i class="fa fa-cloud fa-stack-2x"></i> 
    <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
  </span>
  <br>
  <span style=" color: #999">{{tr "There is no data available"}}</span>
</div>
<br>