<table id="{{dataTableId}}" class="datatable twelve">
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox" class="check_all" value=""/>
      </th>
      {{#each columns}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody></tbody>
</table>