<div class="right-content small-12 large-10 columns">
  <div class="row">
    <div class="small-12 medium-4 columns">
      <a href="#" class="provision_image_header" >
        <img src="{{logo}}" style="height:40px; vertical-align:top;">
      </a>
    </div>
    <div class="small-12 medium-8 columns">
      <div class="user-zone-info right">
      </div>
    </div>
  </div>
</div>