<div class="small-12 columns" style="padding-top: 15px">
  <div id="" class="row left-body left-header">
    <div class="logo-header small-12 medium-4 columns">
      <button id="menu-toggle" class="button medium radius secondary white_button">
        <i class="fa fa-lg fa-fw fa-bars"></i>
      </button>
      <img src="{{logo}}" style="height: 20px;vertical-align: middle;"/>
    </div>
    <div class="small-12 medium-8 columns">
      <div class="user-zone-info right">
      </div>
    </div>
  </div>
</div>