<div id="{{dialogId}}" class="reveal-modal" role="dialog" data-reveal >
  <div class="row">
    <h3 class="subheader">Upload File</h3>
  </div>
  <form id="{{dialogId}}Form">
    <div class="row">
      <div id="support_file-uploader" class="large-12 columns text-center">
        <label id="support_file-uploader-label" for="support_file-uploader-input"></label>
        <input id="support_file-uploader-input" type="file"/>
      </div>
    </div>
    <div class="form_buttons row">
      <button class="button right radius success upload_support_file_form_button" type="submit" disabled>
        Upload
      </button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>