// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";


/* -----------------------------------------
   DataTables Foundation Styles
----------------------------------------- */
form.dataTables {
    display: inline-block;
    margin: 0;
}

table.dataTable {
    margin: 0 0 18px;
    //box-shadow: 0 0 1px 0px black;
    border:none;
}

table.dataTable tr {
    border: 1px solid #e6e6e6;
}

.dataTables_filter input {
    display: inline-block;
    width: auto;
}

.dataTables_length select {
    width: auto;
}

/*
 * Filter
 */
.dataTables_filter {
	float: right;
	text-align: right;
}

/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

table thead, table tfoot {
    background: #f2f2f2;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

table.dataTable td {
padding: 3px 10px;
}

/* -----------------------------------------
   Tabs remove icon
----------------------------------------- */

.remove-tab:hover {
  color: $alertColor;
}

.has-tip {
border-bottom: none;
}




div.button-bar {
  overflow: visible;
}





.outer-center, .inner-center  {
    padding:        0;
}

.outer-center {
    border:         0;
}

.inner-south {
   padding: 0;
}


#header {
    padding: 0 10px 0 10px;
    background-color: #4d4d4d;
    border:0;
}



#logo {
    font-weight: bold;
    margin-top: 17%;
    margin-bottom: 17%;
}

#login-info {
//    padding-top: 4px;
//    float: center;
//    padding-right: 5px;
//    width:100%;
    text-align:center;
    overflow: visible;
    position: absolute;
    margin: 0px;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    z-index: 0;
    height: 70px;
    display: block;
    visibility: visible;
}


#links {
    padding-top: 4px;
    margin-right: 40px;
    float: right;
}

#login-info, #login-info a, #links, #links a {
    color: #555;
}

#login-info, #login-info a {
    font-weight: bold;
}
.sunstone-color {
    color: #2ba6cb;
}

#logo-wrapper {
    float:  right;
    margin-top: 0px;
    margin-right: 20px;
}

.menu-nav {
    height: 70%;
    overflow: overlay;
}

#menu {
    padding-right:  0;
    padding-left:   0;
    border:0;
    overflow:hidden;
}

#tabs_content {
    box-shadow: -8px -8px 11px -11px black;
    z-index: 2 !important;
}

#navigation {
    margin: 0 8%;
    box-shadow: 0 0 1px 0px black;
}

.tabs.vertical li {
    border-left: none;
}

.tabs.vertical li.active {
    border-top: none;
}

#navigation > li:not(.subTab).navigation-active-li > a,
#navigation > li:not(.subTab).active > a {
    background: #f2f2f2;
    border:none;
    color: #555;
}


#navigation .topTab {
}

#navigation i {
    margin-right: 3px;
}


#navigation li.subTab > a {
    background: #fdfdfd;
    color: #555;
    border:none;
    padding: 7px 11px 7px 25px;
}

#navigation li.subsubTab {
    padding-left:       15px;
}

#navigation li:not(subTab) {
    border-left: 5px solid #f2f2f2;
}

#navigation li:not(subTab):hover {
    border-left: 5px solid #e2e2e2 ;
}

#navigation li.subTab:not(.navigation-active-li) {
    border-left: 5px solid #fdfdfd;
}

#navigation li.subTab:not(.navigation-active-li):hover {
    border-left: 5px solid #e2e2e2 ;
}

#navigation a:hover {
    background: #e2e2e2 !important;
}

#navigation .navigation-active-li {
    border-left: 5px solid #555 !important;
}

.tabs dd.topTab a:focus, .tabs li.topTab a:focus {
    font-weight: normal;
    outline:none;
}

.tabs dd a:focus, .tabs li a:focus {
    outline:none;
}


/* top menu css */
#menutop_container{
    margin:0px 171px;
    color:#FFFFFF;
    font-size:13px;
    font-weight:bold;
}
#menutop_navbar{
    float:left;
    height:25px;
    font-size:13px;
}
#menutop_navbar ul{
    float:left;
    height:25px;
    color:#000000;
    margin: 0 0;
    padding-left: 1px;
}
#menutop_navbar ul{
    background-color: #4d4d4d;
}
#menutop_navbar ul li{
    float:left;
    min-width:72px;
    margin:0px 0 0 0;
    height:22px;
    display: inline;
    text-align:center;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-left:1px solid white;
    cursor:pointer;
    color: white;
}

#menutop_navbar ul li:hover {
    background-color: #ffffff;

}

/* end top menu css */





.ui-layout-pane {
  border: none;
}


.button.small {
    font-size: 12px;
    box-shadow: none;
    height:28px;
}

.button {
    box-shadow: none;
}

.button.tiny {
    box-shadow: none;
}

.panel {
    padding: 0px;
    background: #f2f2f2;
}

.tabs.vertical li a {
    padding: 15px 11px;
}

input[type="text"] {
    height: 28px !important;
}

.right {
    float: right !important;
}

.ui-layout-pane {
    background: #fdfdfd;
}




tr.odd:hover td {
    background-color: #2ba6cb !important;
    cursor: pointer;
    color: #FFF !important;
}

tr.even:hover td {
    background-color: #2ba6cb !important;
    cursor: pointer;
    color: #FFF !important;
}

tr {
    border-bottom: 1px solid #e6e6e6;
    }



table thead tr th, table tfoot tr td {
padding: 5px 10px 5px;
line-height:16px;
}

table {
    border-collapse:collapse;
    border-spacing:0
}

/* Growl */
.jGrowl-notification h1 {
    font-size: 1.2em;
}

.jGrowl-notification, .jGrowl-notify-submit {
    border: 2px #444444 solid;
    background-color: #F3F3F3!important;
    color: #666666;
}

.jGrowl-notify-error {
    border: 2px #660000 solid;
    background-color: #F39999!important;
    color: #660000;
}

.jGrowl-notify-error table td.key_error {
    text-transform: capitalize;
    width: 100%;
    font-weight: bold;
}

.jGrowl-notify-error table td.key_error:after {
    content:":";
}




.markrow { background-color:#cdebf5 !important; }
.markrowselected { background-color:#2ba6cb !important; color: #FFF; }
.markrowchecked { background-color:#cdebf5; }


.hidden {
    display:none;
}





#navigation li.topTab span.plusIcon,
#navigation li.subTab span.plusIcon {
    display : none;
    float: right;
}

span.plusIcon {
    color: #d0d0d0;
}

span.plusIcon:hover {
    color: #555;
}




table.extended_table tbody tr td {
    padding: 3px 10px;
}

.reveal-modal .row {
}

.reveal-modal  {
    top: 50px;
}

.ui-layout-resizer-open-hover, /* hover-color to 'resize' */
.ui-layout-resizer-dragging {
    background: #EEE;
}


.reveal-modal .panel {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 15px;
}

.reveal-modal.xlarge {
    padding-top: 0px;
    width: 80%;
    margin-left: -40%
}

.reveal-modal {
    padding-top: 0px;
}

.reveal-modal h3 {
    margin-left: 30px;
    margin-bottom: 7px !important;
}

.reveal-modal .close-reveal-modal:not(.button) {
    top: 13px;
}

.reveal-modal .close-reveal-modal:not(.button):hover {
    color: #222;
}

fieldset {
    margin: 0px 10px;
}



.graph_table table {
    border: 0px;
    margin: 0px;
}

.graph_table table tr {
    border: 0px;
}


.ui-layout-pane {
    padding: 0px;
    overflow: overlay;
}

.reveal-modal .columns {
    padding: 0 8px;
}

select {
    width: auto;
}


form.creation {
    padding: 5px;
}

#dialog input {
    margin: 0px;
}


.progress-container {
    position:relative;
    width: 100%;
    text-align: center;
    background: #FFF;
    line-height: 18px;
}

.progress {
    position:absolute;
    width: 100%;
    height: 19px !important;
    background: #FFF;
}

.progress-text {
    position:absolute;
    width: 100%;
    font-size: 12px;
    color: #000 !important;
}

.meter {
    background: #cdebf5 !important;
}

.dashboard .subheader {
    text-align: center;
}

.dashboard h2.subheader {
    margin-bottom: 0;
    margin-top: 0;
}

.dashboard h6.subheader {
    margin-top: 0;
}

.dashboard h3.subheader {
    margin-top: 0;
}

ul.button-group {
    margin-bottom: 0;
}

.value_td {
    text-overflow:ellipsis;
}

small {
    color: rgb(182, 182, 182) !important;
}

.header-dashboard {
    margin-top: -5px;
}

.span-dashboard {
    background: rgb(252,252,252);
    color: #6f6f6f;
    padding: 5px 25px;
    box-shadow: 0 0 2px 0px #6f6f6f;
}



.button.dropdown.small::after {
    border-color: #9f9f9f transparent transparent transparent;
    border-width: 4px;
}

.footer-opennebula {
    font-size: 10px;
    color: #b6b6b6 !important;
}

a.footer.button {
    margin: 5px;
}


.user-login {
    float: right;
}

.user-login i.header-icon {
    color: #6f6f6f;
    font-weight: 300;
    font-size: 23px;
}

.user-login .button {
    color: #6f6f6f;
    font-size: 60%;
    line-height: 0;
}

.user-login .button.secondary {
    background: #f2f2f2;
    border: 0px;
    margin-right: 0px;
    font-weight: 300;

}

.user-login .button.secondary:hover, .user-login .button.secondary:focus {
    background-color: #d0d0d0;
    color: #6f6f6f;
}

.user-login .button.dropdown.tiny::after {
    border: solid 5px;
    border-color: #b6b6b6 transparent transparent transparent;
    right: 7px;
}

.header-resource {
    text-align: center;
}

.header-resource {
    float: left;
}

.header {
    text-align: center;
}

.button.dropdown.tiny ul.no-hover.show-dropdown {
    top: 34px !important;
}

.graph_legend{
    text-align: center;
}

.graph_legend table {
    background: inherit;
    border: 0px;
    width: 100%;
}

.graph_legend h3 {
    margin-top: 0px;
}

.graph_legend .subheader {
    margin-bottom: 5px;
}

.dashboard hr {
    margin: 0;
    margin-bottom: 8px;
}

.graph {
    margin-bottom: 15px !important;
}

.dashboard-panel {
    height: 450px;
}

.vm_log_error {
    color: rgb(255, 141, 129);
}

.noUiSlider {
    margin: 10px;
}

.log-tab {
    background: #6f6f6f;
    color: #f2f2f2;
    padding: 20px;
}

.reveal-modal ul.tabs-content {
    margin: 0 0 0px;
}

.reveal-body {
    height:80%;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 5px 20px;
}

.reveal-footer {
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.max-height{
    max-height: 85%;
    position: absolute;
    height: 100%;
}

.ui-layout-content {
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 0;
}


// time-picker
div.time-picker {
  position: absolute;
  height: 191px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 20px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}


.timepicker{
    float:left;
    width:50px !important;
}

.jdpicker {
    float:left;
    width:90px !important;
}

.columns {
    line-height: 2;
}

.transparent_table, .transparent_table tr {
    background: none !important;
    border: 0px !important;
}

form {
    margin: 0 !important;
}

#template_create_tabs {
    //position: fixed;
    width: 180px;
}

.dataTables_scrollHead {
    height: 30px;
}

.dataTables_scrollBody {
    margin-top: -3px;
}

.show_hide {
    cursor: pointer;
}

.show_hide:hover > h4 > small {
    color: #6f6f6f !important;
}

.label.allocated {
  background-color: rgb(43,166,203);
}
.label.real {
  background-color: rgb(112,125,133);
}
.label.total {
  background-color: rgb(172,90,98);
}

.tabs dd a, .tabs li a {
    padding: 0px 13px;
}

.ui-layout-resizer-west {
    background: none;
}


.ui-layout-resizer-west:hover {
    background: none;
    width: 30px !important;
}


.ui-layout-toggler-west:hover{
    width: 30px !important;
    background: #2ba6cb !important;
}

.ui-layout-resizer-south:hover{
    height: 25px !important;
}

.ui-layout-resizer-south:hover .ui-layout-toggler-south {
    height: 25px !important;
}



.ui-layout-toggler-south:hover {
    height: 25px !important;
    background: #2ba6cb !important;
}







div.dataTables_wrapper {
    margin-bottom: 1.25em;
}

div.dataTables_length label,
div.dataTables_filter label,
div.dataTables_info {
    color: #999;
    font-weight: normal;
}

div.dataTables_length {
    padding-top: 0px;
}
div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}
div.dataTables_filter input {
    display: inline-block !important;
    width: auto !important;
}

div.dataTables_info {
    padding-top: 1px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
    padding-top: 2px;
}

table.dataTable {
    clear: both;
    margin-bottom: 0.5em !important;
    max-width: none !important;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.dataTable thead .sorting_asc { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}



