// ------------------------------------------------------------------------ //
// Copyright 2010-2013, C12G Labs S.L.                                      //
//                                                                          //
// Licensed under the Apache License, Version 2.0 (the "License"); you may  //
// not use this file except in compliance with the License. You may obtain  //
// a copy of the License at                                                 //
//                                                                          //
// http://www.apache.org/licenses/LICENSE-2.0                               //
//                                                                          //
// Unless required by applicable law or agreed to in writing, software      //
// distributed under the License is distributed on an "AS IS" BASIS,        //
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. //
// See the License for the specific language governing permissions and      //
// limitations under the License.                                           //
//------------------------------------------------------------------------- //

%fieldset
  .control-group
    %label.control-label{'for' => 'name_form'} Name
    .controls
      %input.input-xlarge{'name' => 'name','id' => 'name_form', 'type' => 'text'}
  .control-group
    %label.control-label{'for' => 'short_description_form'} Short Description
    .controls
      %textarea.input-xlarge{'name' => 'short_description', 'id' => 'short_description_form', 'rows' => '3'}
      %p This information will be shown in the list view
  .control-group
    %label.control-label{'for' => 'description_form'} Description
    .controls
      %textarea.input-xlarge{'name' => 'description', 'id' => 'description_form', 'rows' => '8'}
      %p
        This information will be shown in the detailed view
        %br
        Description is parsed with Markdown.
  .control-group
    %label.control-label{'for' => 'version_form'} Version
    .controls
      %input.input-xlarge{'name' => 'version', 'id' => 'version_form', 'type' => 'text'}
      %p Example: 1.0
  .control-group
    %label.control-label{'for' => 'tags_form'} Tags
    .controls
      %input.input-xlarge{'name' => 'tags', 'id' => 'tags_form', 'type' => 'text'}
      %p Comma-separated tags. Example: ubuntu,hpc,mysql
  %hr
  .control-group
    %label.control-label{'for' => 'url_form'} URL
    .controls
      %input.input-xlarge{'name' => 'files.0.url', 'id' => 'files.0.url_form', 'type' => 'text'}
  .control-group
    %label.control-label{'for' => 'files.0.size'} Size
    .controls
      %input.input{'name' => 'files.0.size', 'id' => 'files.0.size_form', 'type' => 'text'}
      %p Bytes
  .control-group
    %label.control-label{'for' => 'files.0.md5'} MD5
    .controls
      %input.input-xlarge{'name' => 'files.0.md5', 'id' => 'files.0.md5_form', 'type' => 'text'}
  .control-group
    %label.control-label{'for' => 'files.0.sha1'} SHA1
    .controls
      %input.input-xlarge{'name' => 'files.0.sha1', 'id' => 'files.0.sha1_form', 'type' => 'text'}
  .control-group
    %label.control-label{'for' => 'files.0.compression'} Compression
    .controls
      %select{'name' => 'files.0.compression', 'id' => 'files.0.compression_form'}
        %option{'value' => ""}
        - Appliance::FILE_SCHEMA[:properties]['compression'][:enum].each do |elem|
          %option= elem
  %hr
  .control-group
    %label.control-label{'for' => 'files.0.hypervisor'} Hypervisor
    .controls
      %select{'name' => 'files.0.hypervisor', 'id' => 'files.0.hypervisor_form'}
        %option{'value' => ""}
        - Appliance::FILE_SCHEMA[:properties]['hypervisor'][:enum].each do |elem|
          %option= elem
  .control-group
    %label.control-label{'for' => 'files.0.format'} Format
    .controls
      %select{'name' => 'files.0.format', 'id' => 'files.0.format_form'}
        %option{'value' => ""}
        - Appliance::FILE_SCHEMA[:properties]['format'][:enum].each do |elem|
          %option= elem
  %hr
  .control-group
    %label.control-label{'for' => 'files.0.os-id'} OS id
    .controls
      %input.input-xlarge{'name' => 'files.0.os-id', 'id' => 'files.0.os-id_form', 'type' => 'text'}
      %p Example: Ubuntu
  .control-group
    %label.control-label{'for' => 'files.0.os-release'} OS release
    .controls
      %input.input-xlarge{'name' => 'files.0.os-release', 'id' => 'files.0.os-release_form', 'type' => 'text'}
      %p Example: 12.04
  .control-group
    %label.control-label{'for' => 'files.0.os-arch'} OS arch
    .controls
      %input.input-xlarge{'name' => 'files.0.os-arch', 'id' => 'files.0.os-arch_form', 'type' => 'text'}
      %p Example: x86_64
  - if @session.admin?
    Admin parameters
    %hr
    .control-group
      %label.control-label{'for' => 'logo'} Logo
      .controls
        %input.input-xlarge{'name' => 'logo','id' => 'logo_form', 'type' => 'text'}
    .control-group
      %label.control-label{'for' => 'catalog_form'} Catalog
      .controls
        %input.input-xlarge{'name' => 'catalog','id' => 'catalog_form', 'type' => 'text'}
    .control-group
      %label.control-label{'for' => 'publisher_form'} Publisher
      .controls
        %input.input-xlarge{'name' => 'publisher','id' => 'publisher_form', 'type' => 'text'}
%hr