---

- name: Check supported platform
  assert:
    that:
      - ansible_distribution == 'Ubuntu'
      - ansible_distribution_version in ['20.04', '22.04']
    msg: "Unsupported target OS"

- name: Disable ufw
  service:
    name: ufw
    masked: yes
    state: stopped
  ignore_errors: yes
