%p
  © 2012 C12G Labs S.L. All Rights Reserved.
  %a{'href' => "http://www.c12g.com/legal-notice"} Legal Notice.
  Please send comments to
  %a{'href' => "mailto:marketplace@opennebula.org"} webmaster.
  This site is managed by
  %a{'href' => "http://www.c12g.com/"} C12G Labs.
  %br
  OpenNebula and C12G Labs are not responsible for any content you may access or download from external  sites