<form data-abide="ajax" id="{{formPanelId}}Advanced" class="custom creation">
  <div class="row">
    <div class="columns large-6">
      <label for="datastore_cluster_raw">{{tr "Cluster"}}</label>
      <div id="datastore_cluster_raw" name="datastore_cluster_raw"></div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>{{tr "Write the Virtual Network template here"}}</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <textarea id="template" rows="15" required></textarea>
    </div>
  </div>
</form>




