# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

required = ["github.com/kolo/xmlrpc", "gopkg.in/xmlpath.v2"]

[[constraint]]
  name = "github.com/OpenNebula/one"
  branch = "master"

[[constraint]]
  name = "github.com/docker/machine"
  version = "0.14.0"

[[constraint]]
  branch = "master"
  name = "github.com/kolo/xmlrpc"

[[constraint]]
  branch = "v2"
  name = "gopkg.in/xmlpath.v2"

[prune]
  go-tests = true
  unused-packages = true
