[Unit]
Description=OpenNebula OCCI Interface Service
After=syslog.target
After=network.target
After=one.service
After=one_scheduler.service
BindTo=one.service
!ConditionFileExists=/var/lock/one/.occiserver.lock

[Service]
ExecStart=/bin/bash -c "/usr/bin/occi-server start"
ExecStartPost=/usr/bin/touch /var/lock/one/.occiserver.lock
ExecStop=/bin/kill -INT $MAINPID
PIDFile=/var/run/one/occiserver.pid
Type=simple
Group=cloud
User=oneadmin

[Install]
WantedBy=multi-user.target
