{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2018, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<tr id="tr_schedule_base" class="create">
	<td>
		<select style="width: 80%" id="select_new_action" class="select_new_action" name="select_action">{{{actions}}}</select>
	</td>
	<td>
		<input style="width: 80%" id="date_input" type="date" />
	</td>
	<td>
		<input style="width: 80%" id="time_input" type="time" placeholder="12:30" />
	</td>
	<td>
		<input  id="schedule_type" type="checkbox">
		<label>{{tr "Periodic"}}</label>
	</td>
</tr>
<tr class="periodic create">
	<td colspan="5">
		<div  style="margin-top: 20px;" class="large-12 columns text-center">
			<input type="radio" name="rep" id="rep_week" value="week">
			<label for="rep_week">Weekly</label>
			<input type="radio" name="rep" id="rep_month" value="month">
			<label for="rep_month">Monthly</label>
			<input type="radio" name="rep" id="rep_year" value="year">
			<label for="rep_year">Yearly</label>
		</div>
	</td>
</tr>
<tr class="periodic create">
	<td id="td_days" style="text-align:center" colspan="5">
	</td>
</tr>
<tr class="periodic create">
	<td colspan="5">
		<div class="large-12 columns text-center">
			<input type="radio" name="end_type" id="end_type_ever" value="ever">
			<label for="path_image">Ever</label>
			<input type="radio" name="end_type" id="end_type_n_rep" value="n_rep">
			<label for="upload_image">Num Rep</label>
			<input type="radio" name="end_type" id="end_type_date" value="date">
			<label for="datablock_img">End Date</label>
		</div>
	</td>
</tr>
<tr class="periodic create">
	<td id="td_end_value" colspan="5">
	</td>
</tr>
<br>
<tr class="create">
	<td>
		<button style="margin-top: 15px;" id="add_{{res}}_action_json" class="button small success secondary radius">{{tr "Add"}}</button>
	</td>
</tr>