<div class="row">
  <div class="small-12 columns">
    <label>
      {{tr "Password"}}
      <input class="pass-search" type="text" list="userSearchPasswordList"/>
      <datalist id="userSearchPasswordList">
      </datalist>
    </label>
  </div>
</div>