{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project (OpenNebula.org), C12G Labs        }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-11 large-centered columns">
    <h2 class="subheader">{{tr "Quotas"}}</h2>
    <br></div>
</div>
<div class="row">
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="large-4 columns text-center">
        <span id="provision_dashboard_rvms_percentage"  style="font-size:50px">0</span>
        <span style="font-size:20px; color: #999">%</span></div>
        <div class="large-4 columns text-center">
          <span id="provision_dashboard_cpu_percentage"  style="font-size:50px">0</span>
          <span style="font-size:20px; color: #999">%</span></div>
          <div class="large-4 columns text-center">
            <span id="provision_dashboard_memory_percentage"  style="font-size:50px">0</span>
            <span style="font-size:20px; color: #999">%</span></div>
          </div>
          <div class="row">
            <div class="large-4 columns text-center">
              <div class="progress large radius">
                <span id="provision_dashboard_rvms_meter" class="meter"></span>
              </div>
            </div>
            <div class="large-4 columns text-center">
              <div class="progress large radius">
                <span id="provision_dashboard_cpu_meter" class="meter"></span>
              </div>
            </div>
            <div class="large-4 columns text-center">
              <div class="progress large radius">
                <span id="provision_dashboard_memory_meter" class="meter"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-4 columns text-center">
              <span>{{tr "RUNNING VMS"}}</span>
              <br>
              <span id="provision_dashboard_rvms_str" style="color: #999; font-size: 14px;"></span>
            </div>
            <div class="large-4 columns text-center">
              <span>{{tr "CPU"}}</span>
              <br>
              <span id="provision_dashboard_cpu_str" style="color: #999; font-size: 14px;"></span>
            </div>
            <div class="large-4 columns text-center">
              <span>{{tr "MEMORY"}}</span>
              <br>
              <span id="provision_dashboard_memory_str" style="color: #999; font-size: 14px;"></span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
