<div class="row">
  <div class="large-11 large-centered columns">
    <h2 class="subheader">{{tr "Group Quotas"}}</h2>
    <br></div>
</div>
<div class="row">
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="large-4 columns text-center">
        <span id="provision_dashboard_vdc_rvms_percentage" style="font-size:50px">0</span>
        <span style="font-size:20px; color: #999">%</span>
      </div>
      <div class="large-4 columns text-center">
        <span id="provision_dashboard_vdc_cpu_percentage" style="font-size:50px">0</span>
        <span style="font-size:20px; color: #999">%</span>
      </div>
      <div class="large-4 columns text-center">
        <span id="provision_dashboard_vdc_memory_percentage" style="font-size:50px">0</span>
        <span style="font-size:20px; color: #999">%</span>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns text-center">
        <div class="progress large radius">
          <span id="provision_dashboard_vdc_rvms_meter" class="meter"></span>
        </div>
      </div>
      <div class="large-4 columns text-center">
        <div class="progress large radius">
          <span id="provision_dashboard_vdc_cpu_meter" class="meter"></span>
        </div>
      </div>
      <div class="large-4 columns text-center">
        <div class="progress large radius">
          <span id="provision_dashboard_vdc_memory_meter" class="meter"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns text-center">
        <span>{{tr "RUNNING VMS"}}</span>
        <br>
        <span id="provision_dashboard_vdc_rvms_str" style="color: #999; font-size: 14px;"></span>
      </div>
      <div class="large-4 columns text-center">
        <span>{{tr "CPU"}}</span>
        <br>
        <span id="provision_dashboard_vdc_cpu_str" style="color: #999; font-size: 14px;"></span>
      </div>
      <div class="large-4 columns text-center">
        <span>{{tr "MEMORY"}}</span>
        <br>
        <span id="provision_dashboard_vdc_memory_str" style="color: #999; font-size: 14px;"></span>
      </div>
    </div>
  </div>
</div>
<br>
<br>