{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.15"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "client": "./src/client",
        "server": "./src/server"
      }
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining",
    "@loadable/babel-plugin"
  ]
}
