{
  "extends": [
    "./node_modules/jloboescalona-eslint-config/index.js",
    "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "*.js"
        ]
      }
    ],
    "default-case": 0
  }
}
