{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["jsdoc","react"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "*.js"
        ]
      }
    ],
    "default-case": 0,
    "require-jsdoc": ["error", {
      "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
      }
    }]
  },
  "settings": {
    "react" : {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["client", "./src/client"],
          ["server", "./src/server"]
        ],
        "extensions": [".js"]
      }
    }
  }
}
