<tr class="{{resourceType}}_rename">
  <td class="key_td">{{tr "Name"}}</td>
  <td class="value_td_rename">{{resourceName}}</td>
  <td>
    <div id="div_edit_rename">
      <a id="div_edit_rename_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
    </div>
  </td>
</tr>