<fieldset>
  {{#if fieldset}}
  <legend>
    <i class="fas fa-globe"></i> {{name}}
  </legend>
  {{/if}}
  <div>
    <dl class="accordion provision_nic_accordion" data-accordion data-allow-all-closed="true">
    </dl>
    <a class="button small provision_add_network_interface">
      <i class="fas fa-lg fa-plus-circle"></i> {{tr "Network Interface"}}
    </a>
  </div>
</fieldset>