<fieldset>
  <legend>
    <i class="fa fa-globe"></i> {{tr "Network"}}
  </legend>
  <div>
    <dl class="accordion provision_nic_accordion" data-accordion data-allow-all-closed="true">
    </dl>
    <a class="button small provision_add_network_interface">
      {{tr "Add another Network Interface"}}
    </a>
  </div>
</fieldset>