<div id="provision_manage_vdc" class="hidden section_content">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h3 class="subheader text-right">
        <span class="left">{{tr "Group Accounting"}}</span>
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div  id="provision_info_vdc_group_acct" class="large-10 large-centered columns"></div>
  </div>
  <br>
  {{#isFeatureEnabled "showback"}}
  <div class="row">
    <div class="large-11 large-centered columns">
      <h3 class="subheader text-right">
        <span class="left">{{tr "Group Showback"}}</span>
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div  id="provision_info_vdc_group_showback" class="large-10 large-centered columns"></div>
  </div>
  <br>
  {{/isFeatureEnabled}}
  <div class="row">
    <div class="large-11 large-centered columns">
      <h3 class="subheader text-right">
        <span class="left">{{tr "Group Quotas"}}</span>
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-11 columns large-centered quotas" id="provision_vdc_quotas_div"></div>
  </div>
</div>