<h5 class="subheader"> <i class="fa fa-fw fa-lg fa-bar-chart-o"></i>
  {{tr "Accounting"}}
</h5>
<div class="row dashboard-widget-footer">
  <div id="user_dashboard_info_acct_div" class="large-12 columns columns"></div>
</div>