<h5 class="subheader"> <i class="fa fa-fw fa-lg fa-align-left"></i>
  {{tr "Group Quotas"}}
</h5>
<div id="quotas_tab_group_TabBody" class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class="text-center">
          <span class="fa-stack fa-5x" style="color: #dfdfdf"> <i class="fa fa-cloud fa-stack-2x"></i>
            <i class="fa fa-align-left fa-stack-1x fa-inverse"></i>
          </span>
          <br>
          <p style="font-size: 18px; color: #999">{{tr "There are no quotas defined"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row dashboard-widget-footer">
  <div class="large-12 columns">
    <label>
      {{tr "Select group"}}:
      <div id="quotas_tab_group_sel"></div>
    </label>
  </div>
</div>