{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div>
  <div id="two_per_row">
    {{#each twoPerRow}}
    <div class="small-12 medium-6 columns">
      {{{this}}}
    </div>
    {{/each}}
  </div>
  <div id="one_per_row">
    {{#each onePerRow}}
    <div class="small-12 large-12 columns">
      {{{this}}}
    </div>
    {{/each}}
  </div>
  <div id="three_per_row">
    {{#each threePerRow}}
    <div class="small-12 medium-4 columns">
      {{{this}}}
    </div>
    {{/each}}
  </div>
  <div id="one_footer">
    {{#each oneFooter}}
    <div class="small-12 large-12 columns">
      {{{this}}}
    </div>
    {{/each}}
  </div>
</div>
