<div class="row totals-info dashboard-widget-footer">
  <div class="small-12 large-12 columns text-center">
    <h2 class="subheader">
      <small>{{tr "VNETs"}}</small>
      <br>
      <span class="total_vnets subheader"></span>
      <small><i class="fa fa-fw fa-sitemap"></i> </small>
    </h2>
  </div>
  <div class="small-12 large-12 columns text-center">
    <h5 class="subheader">
      <span class="addresses_vnets subheader"></span>
      <br>
      <small>{{tr "USED IPs"}}</small>
    </h5>
  </div>
</div>