<div class="row totals-info dashboard-widget-footer">
  <div class="small-12 large-12 columns text-center">
    <h2 class="subheader">
      <small>{{tr "IMAGES"}}</small>
      <br>
      <span class="total_images subheader"></span>
      <small><i class="fa fa-fw fa-upload"></i> </small>
    </h2>
  </div>
  <div class="small-12 large-12 columns text-center">
    <h5 class="subheader">
      <span class="size_images subheader"></span>
      <br>
      <small>{{tr "USED"}}</small>
    </h5>
  </div>
</div>