{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row totals-info dashboard-widget-footer">
  <div class="small-12 large-12 columns text-center">
    <h2 class="">
      <small>{{tr "IMAGES"}}</small>
      <br>
      <span class="total_images "></span>
      <small><i class="fa fa-fw fa-upload"></i> </small>
    </h2>
  </div>
  <div class="small-12 large-12 columns text-center">
    <h5 class="">
      <span class="size_images "></span>
      <br>
      <small>{{tr "USED"}}</small>
    </h5>
  </div>
    <div class="small-12 large-12 columns text-center">
      <br>
      <a class="button secondary radius tiny show_images_tab"> <i class="fa fa-lg fa-list fa-fw"></i>
      </a>
      <a class="button secondary  radius tiny show_create_image">
        <i class="fa fa-lg fa-plus fa-fw"></i><i class="fa fa-fw fa-lg fa-upload"></i>
      </a>
    </div>
</div>
