<div class="row totals-info">
  <div class="large-3 medium-6 small-12 columns">
    <div class="small-12 large-12 columns text-center">
      <h2 class="subheader">
        <small>{{tr "USERS"}}</small>
        <br>
        <span class="subheader total_users">-</span>
        <small><i class="fa fa-fw fa-user"></i> </small>
      </h2>
    </div>
    <div class="small-12 large-12 columns text-center" style="margin-top: 20px">
      <a class="button secondary radius tiny show_users_tab"> <i class="fa fa-lg fa-list fa-fw"></i></a>
      <a class="button secondary radius tiny show_create_user">
        <i class="fa fa-lg fa-plus fa-fw"></i><i class="fa fa-fw fa-lg fa-user"></i></a>
    </div>
  </div>
  <div class="large-9 medium-6 small-12 columns text-center" id="dashboard_vdc_user_accounting">
    <input style="display:none;" value="user" id="acct_group_by"/>
    <div class="small-12 large-6 columns">
      <h4 class="subheader">
        <small>{{tr "CPU hours"}}</small>
      </h4>
      <div class="large-12 columns centered graph text-center" id="acct_cpu_graph" style="height: 100px;">{{> ./empty-graph}}</div>
    </div>
    <div class="small-12 large-6 columns">
      <h4 class="subheader">
        <small>{{tr "Memory GB hours"}}</small>
      </h4>
      <div class="large-12 columns centered graph text-center" id="acct_mem_graph" style="height: 100px;">{{> ./empty-graph}}</div>
    </div>
  </div>
</div>
<div class="row dashboard-widget-footer">
  <div class="small-3 large-3 columns text-center"></div>
</div>