{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form id="secgroups_list_form">
  <div class="row">
    <div class="large-12 columns">
      {{#isTabActionEnabled tab action_add}}
        <button class="button success small radius" id="add_secgroup_button">
          <span class="fas fa-plus"></span> {{tr "Security Group"}}
        </button>
      {{/isTabActionEnabled}}
      <span class="right">
        {{#isTabActionEnabled tab action_rm}}
          <button class="button secondary small radius" id="rm_secgroup_button" secgroups_id="" disabled="disabled">
            <span class="fas fa-trash-alt"></span> {{tr "Remove"}}
          </button>
        {{/isTabActionEnabled}}
      </span>
    </div>
  </div>
  <div class="row">
    {{{dataTableHTML}}}
  </div>

</form>
