---
- hosts: nodes
  roles:
    - ddc
    - opennebula-repository
    - { role: opennebula-node-kvm, when: oneprovision_hypervisor == 'kvm' }
    - { role: opennebula-node-lxc, when: oneprovision_hypervisor == 'lxc' }
    - opennebula-ssh
    - role: frr
      #bond0_0 is attached to the project private network
      frr_iface: '{{ oneprovision_private_phydev }}'
      # Use /25 for the internal management network address
      frr_prefix_length: 25
