<table class="user_input_attrs policies_table dataTable">
  <thead>
    <tr>
      <th style="width:30%"></th>
      <th style="width:20%"></th>
      <th style="width:50%"></th>
      <th style="width:3%"></th>
    </tr>
  </thead>
  <tbody style="vertical-align:top">
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <a href="#" class="add_user_input_attr button small small-12 secondary radius">
          <i class="fa fa-lg fa-plus-circle"></i>
        </a>
      </td>
    </tr>
  </tfoot>
</table>