<div class="row">
  <div class="large-12 columns">
    <table id="scheduling_temp_actions_table" class="info_table dataTable">
      <thead>
        <tr>
          <th> {{tr "Action"}} </th>
          <th> {{tr "Time"}} </th>
          <th colspan=""> {{tr "Actions"}} </th>
          <th><button id="add_scheduling_temp_action" class="button small success right radius"> {{tr "Add action"}} </button></th>
        </tr>
      </thead>
      <tbody id="sched_temp_actions_body"></tbody>
    </table>
  </div>
</div>
