<tr>
  <td class="key_td">{{tr "Owner"}}</td>
  <td colspan="2" id="value_td_owner">{{element.UNAME}}</td>
  <td>
    <div id="div_edit_chg_owner">
      <a id="div_edit_chg_owner_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
    </div>
  </td>
</tr>