.accordion_list {
  .accordion-item {
    padding: 0;
  }

  .provision-search-input {
    width: 25%;
    vertical-align: middle;
    display: inline;
  }

  .resource_list_select {
    width: auto;
    vertical-align: middle;
  }
}

.accordion {
  .accordion-item {
    &.is-active {
      .only-not-active {
        display: none !important;
      }
    }
    &:not(.is-active) {
      .only-active {
        display: none !important;
      }
    }
  }

  .button,
  input,
  select {
    margin-bottom: 0;
  }
}


.accordion_advanced {
  & > a {
    font-size: 1.2rem;

    &.active {
      color: $dark-gray;
      .fa-chevron-down {
        display: none;
      }
    }

    &:not(.active){
      
      .fa-chevron-up {
        display: none;
      }
    }

    &:hover {
      background: #dfdfdf;
    }
  }
}

.provision_accordion_template {
  .accordion-item > a {
    padding: 0;
    font-size: 1.2rem;

    i {
      color: $primary-color;
    }
  }

  .accordion-content {
    margin-top: 1rem;

    .provision_select_template {
      margin-top: 1rem;
    }
  }
}