.backup_increments_content {
  display: flex;
  flex-wrap: wrap;
}

.backup-increment {
  width: 30%;
  margin: 1rem;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  display: flex;
}

.backup-increment-data > div {
  margin: 0.2rem;
}

.backup-increment-id {
  font-size: xx-large;
  font-weight: 400;
  width: 30%;
  text-align: center;
}