.provision-pricing-table {
  border: 1px solid smart-scale($table-background, $table-hover-scale);
  background: darken($table-background, $table-hover-scale);
  margin-bottom: 2rem;
  padding: 1rem;

  .provision-title {
    a {
      word-break: break-word;
      padding: 0;
      padding-bottom: 0.5rem;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .without-link {
      padding: 0;
      padding-bottom: 0.5rem;
      font-size: 1.1rem;
      display: block;
      font-weight: bold;
      color: $bold-black;
    }
  }

  .provision-bullet-item {
    padding-bottom: 0.2rem;
    i {
      color: $dark-gray;
    }

    a {
      padding: 0;
    }
  }

  .provision-bullet-item-last {
    padding-top: 0.5rem;
    color: $dark-gray;
    i {
      color: $dark-gray;
    }
  }
}