.open-control:hover {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.monospace {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}