#menu .labels-tree {
  max-height: rem-calc(150px);
  margin-left: 1rem;
}

.labeltree-container .labels-tree,
#provision-tab .labels-tree {
  max-height: rem-calc(400px);
  margin-left: 0rem;
}

.labels-tree {
  overflow-y: auto;

  ul {
    margin-left: 1rem;
  }

  & > li:last-child {
    padding-bottom: 1em;
  }

  li {
    font-weight: normal;
    list-style-type: none;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .labeltree-line {
      color: $dark-gray;
      cursor: pointer;

      &:hover {
        color: $black;
      }

      .active {
        color: $light-black;
      }
    }
  }

  .fa-fw {
    margin-top: 0.3rem;
  }

  .tree-toggle {
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }
}
