.tab:not(#provision-tab) {
  margin-top: -4.3rem;

  @include breakpoint(small only) {
    margin-top: 0;
  }
}

.sunstone-list,
.sunstone-info,
.sunstone-form,
.sunstone-menu-header,
.actions_row {
  padding: 0 2rem;
}

.sunstone-menu-header {
  padding: 0 1rem;
}


#top-row {
  padding: 1rem 0 0.5rem 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
  //background: #f8f8f8;
  position: relative;
  //border-bottom: 1px solid #dfdfdf;

  .user-zone-info {
    margin-bottom: 0.5rem;
    
    a {
      font-weight: bold;
      color: $bold-black;
    }

    .submenu {
      a {
        color: $dark-gray;
        &:hover {
          color: $black;
        }
      }
    }

    @include breakpoint(medium down) {
      .zonename {
        display: none;
      }
    }
  }
  
  .opennebula-img {
    max-height: 2.5rem;
    max-width: 120px;
    @include breakpoint(medium only) {
      display: none;
    }
  }

  .logo-header {
    margin-top: 0.5rem;
  }

  #menu-toggle {
    z-index: 900;
    position: relative;
    @include breakpoint(large) {
      display: none;
    }
  }
}

.provision-logo {
  img {
    height: 3rem;
  }
}

.header-title {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  @include breakpoint(medium only) {
    margin-left: 3rem;
  }
}


#footer {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: $dark-gray;

  a {
    color: $dark-gray;
  }
}

.action_blocks {
  & > span {
    padding-right: 1.5rem;
  }
}

.vm-action-disabled {
  //color: #cfcfcf !important;
  cursor: default !important;
  opacity: 0.25;
}

// Source: http://lea.verou.me/more-css-secrets
.scroll-shadows {
  background:
    linear-gradient(white 30%, hsla(0,0%,100%,0)),
    linear-gradient(hsla(0,0%,100%,0), white 70%) bottom,
    radial-gradient(at top, rgba(0,0,0,.2), transparent 70%),
    radial-gradient(at bottom, rgba(0,0,0,.2), transparent 70%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

// Dialogs

.confirm-resources-header {
  @extend .scroll-shadows;

  overflow-y: auto;
  max-height: 6em;
}