.tab:not(#provision-tab) {
  margin-top: -4.3rem;

  @include breakpoint(small only) {
    margin-top: 0;
  }
}

.sunstone-list,
.sunstone-info,
.sunstone-form,
.sunstone-menu-header,
.actions_row {
  padding: 0 2rem;
}

.sunstone-menu-header {
  padding: 0;
}


#top-row {
  padding: 1rem 0 0.5rem 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
  //background: #f8f8f8;
  position: relative;
  //border-bottom: 1px solid #dfdfdf;

  .user-zone-info {
    margin-bottom: 0.5rem;
    
    a {
      font-weight: bold;
      color: $bold-black;
    }

    .submenu {
      a {
        color: $dark-gray;
        &:hover {
          color: $black;
        }
      }
    }

    @include breakpoint(medium down) {
      .zonename {
        display: none;
      }
    }
  }
  
  .opennebula-img {
    max-height: 2.5rem;
    max-width: 120px;
    @include breakpoint(medium only) {
      display: none;
    }
  }

  .logo-header {
    margin-top: 0.5rem;
  }

  #menu-toggle {
    z-index: 900;
    position: relative;
    @include breakpoint(large) {
      display: none;
    }
  }
}

.provision-logo {
  img {
    height: 3rem;
  }
}

.header-title {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  @include breakpoint(medium only) {
    margin-left: 3rem;
  }
}


#footer {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: $dark-gray;

  a {
    color: $dark-gray;
  }

  #latest_version{
    a{
      color: map-get($foundation-palette, primary);
      font-weight: bold;
    }
  }
}

.action_blocks {
  & > span {
    padding-right: 1.5rem;
  }
}

.action-disabled {
  //color: #cfcfcf !important;
  cursor: default !important;
  opacity: 0.25;
}

// Source: http://lea.verou.me/more-css-secrets
.scroll-shadows {
  background:
    linear-gradient(white 30%, hsla(0,0%,100%,0)),
    linear-gradient(hsla(0,0%,100%,0), white 70%) bottom,
    radial-gradient(at top, rgba(0,0,0,.2), transparent 70%),
    radial-gradient(at bottom, rgba(0,0,0,.2), transparent 70%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

// Dialogs

.confirm-resources-header {
  @extend .scroll-shadows;

  overflow-y: auto;
  max-height: 6em;
}

#numa-topology-display{
  margin-bottom: 2rem;
}

progress{
  &.memory-used{
    height: 1rem;
    color: $busy;
    margin-bottom: 2rem;
    background-color: $free;
    &::-webkit-progress-value{
      background-color: $busy;
    }
    &::-webkit-progress-bar{
      background-color: $free;
    }
    &::-moz-progress-bar{
      background-color: $busy;
    }
    &::-ms-fill{
      background-color: $busy;
    }
  }
}

.guacamole-main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  place-content: center;
  background-color: #282828;
  & > div {
    z-index: 1;
  }
  & .guacamole-display {
    cursor: none;
  }
}

#guacVMDialog {
  overflow: hidden;
}

.osk-container {
  z-index: 2;
  background: rgba(0, 0, 0, 0.59);
  position: absolute;
  top: 30%;
  left: 0;
  display: none;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0 0 20px #acacac;
  & > .osk-container-header {
    background: linear-gradient(to top, #ebebeb, #d5d5d5);
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 28px;
    user-select: none;
    cursor: default;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    & .buttons {
      padding-left: 8px;
      padding-top: 3px;
      float: left;
      line-height: 0;
      & .close {
        background: #ff5c5c;
        font-size: 13px;
        font-weight: bold;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
      }
    }
    & .layouts {
      padding-right: 8px;
      padding-top: 3px;
      float: right;
      line-height: 0;
    }
  }
}

.guac-keyboard {
  display: inline-block;
  width: 100%;
  
  margin: 0;
  padding: 0;
  cursor: default;

  text-align: left;
  vertical-align: middle;
}

.guac-keyboard,
.guac-keyboard * {
  overflow: hidden;
  white-space: nowrap;
}

.guac-keyboard .guac-keyboard-key-container {
  display: inline-block;
  margin: 0.05em;
  position: relative;
}

.guac-keyboard .guac-keyboard-key {

  position: absolute;
  left:   0;
  right:  0;
  top:    0;
  bottom: 0;

  background: #444;

  border: 0.125em solid #666;
  -moz-border-radius:    0.25em;
  -webkit-border-radius: 0.25em;
  -khtml-border-radius:  0.25em;
  border-radius:         0.25em;

  color: white;
  font-size: 40%;
  font-weight: lighter;
  text-align: center;
  white-space: pre;

  text-shadow:  1px  1px 0 rgba(0, 0, 0, 0.25),
                1px -1px 0 rgba(0, 0, 0, 0.25),
               -1px  1px 0 rgba(0, 0, 0, 0.25),
               -1px -1px 0 rgba(0, 0, 0, 0.25);

}

.guac-keyboard .guac-keyboard-key:hover {
  cursor: pointer;
}

.guac-keyboard .guac-keyboard-key.highlight {
  background: #666;
  border-color: #666;
}

/* Align some keys to the left */
.guac-keyboard .guac-keyboard-key-caps,
.guac-keyboard .guac-keyboard-key-enter,
.guac-keyboard .guac-keyboard-key-tab,
.guac-keyboard .guac-keyboard-key-lalt,
.guac-keyboard .guac-keyboard-key-ralt,
.guac-keyboard .guac-keyboard-key-alt-gr,
.guac-keyboard .guac-keyboard-key-lctrl,
.guac-keyboard .guac-keyboard-key-rctrl,
.guac-keyboard .guac-keyboard-key-lshift,
.guac-keyboard .guac-keyboard-key-rshift {
  text-align: left;
  padding-left: 0.75em;
}

/* Active shift */
.guac-keyboard.guac-keyboard-modifier-shift .guac-keyboard-key-rshift,
.guac-keyboard.guac-keyboard-modifier-shift .guac-keyboard-key-lshift,

/* Active ctrl */
.guac-keyboard.guac-keyboard-modifier-control .guac-keyboard-key-rctrl,
.guac-keyboard.guac-keyboard-modifier-control .guac-keyboard-key-lctrl,

/* Active alt */
.guac-keyboard.guac-keyboard-modifier-alt .guac-keyboard-key-ralt,
.guac-keyboard.guac-keyboard-modifier-alt .guac-keyboard-key-lalt,

/* Active alt-gr */
.guac-keyboard.guac-keyboard-modifier-alt-gr .guac-keyboard-key-alt-gr,

/* Active caps */
.guac-keyboard.guac-keyboard-modifier-caps .guac-keyboard-key-caps,

/* Active super */
.guac-keyboard.guac-keyboard-modifier-super .guac-keyboard-key-super {
  background: #882;
  border-color: #DD4;
}

.guac-keyboard .guac-keyboard-key.guac-keyboard-pressed {
  background: #822;
  border-color: #D44;
}

.guac-keyboard .guac-keyboard-group {
  line-height: 0;
}

.guac-keyboard .guac-keyboard-group.guac-keyboard-alpha,
.guac-keyboard .guac-keyboard-group.guac-keyboard-movement {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.guac-keyboard .guac-keyboard-group.guac-keyboard-main {

  /* IE10 */
  display: -ms-flexbox;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;

  /* Ancient Mozilla */
  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;
  
  /* Ancient WebKit */
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;

  /* Old WebKit */
  display: -webkit-flex;
  -webkit-align-items: stretch;
  -webkit-flex-direction: row;

  /* W3C */
  display: flex;
  align-items: stretch;
  flex-direction: row;

}

.guac-keyboard .guac-keyboard-group.guac-keyboard-movement {
  -ms-flex: 1 1 auto;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.guac-keyboard .guac-keyboard-gap {
  display: inline-block;
}

/* Hide keycaps requiring modifiers which are NOT currently active. */
.guac-keyboard:not(.guac-keyboard-modifier-caps)
.guac-keyboard-cap.guac-keyboard-requires-caps,

.guac-keyboard:not(.guac-keyboard-modifier-shift)
.guac-keyboard-cap.guac-keyboard-requires-shift,

.guac-keyboard:not(.guac-keyboard-modifier-alt-gr)
.guac-keyboard-cap.guac-keyboard-requires-alt-gr,

/* Hide keycaps NOT requiring modifiers which ARE currently active, where that
 modifier is used to determine which cap is displayed for the current key. */
.guac-keyboard.guac-keyboard-modifier-shift
.guac-keyboard-key.guac-keyboard-uses-shift
.guac-keyboard-cap:not(.guac-keyboard-requires-shift),

.guac-keyboard.guac-keyboard-modifier-caps
.guac-keyboard-key.guac-keyboard-uses-caps
.guac-keyboard-cap:not(.guac-keyboard-requires-caps),

.guac-keyboard.guac-keyboard-modifier-alt-gr
.guac-keyboard-key.guac-keyboard-uses-alt-gr
.guac-keyboard-cap:not(.guac-keyboard-requires-alt-gr) {

  display: none;
  
}

/* Fade out keys which do not use AltGr if AltGr is active */
.guac-keyboard.guac-keyboard-modifier-alt-gr
.guac-keyboard-key:not(.guac-keyboard-uses-alt-gr):not(.guac-keyboard-key-alt-gr) {
  opacity: 0.5;
}