.tab:not(#provision-tab) {
  margin-top: -4.3rem;
}

.right-list,
.right-info,
.right-form,
.actions_row {
  padding: 0 1rem;
}

#top-row {
  padding: 1rem 0 0.5rem 0;
  /* box-shadow: 0 0 5px 1px rgba(0,0,0,0.2); */
  background: #f8f8f8;
  /* position: relative; */
  border-bottom: 1px solid #dfdfdf;
  z-index: 500;
  position: relative;

  .opennebula-img {
    height: 1rem;
  }

  .logo-header {
    margin-top: 0.5rem;
  }
}

.provision-logo {
  img {
    height: 3rem;
  }
}

.header-title {
  margin-bottom: 1.5rem;
}

.header-row {
  z-index: 800;
  position: relative;
}

#footer {
  margin-right: 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: $medium-gray;

  a {
    color: $dark-gray;
  }
}

.action_blocks {
  & > span {
    padding-right: 2rem;
  }
}

.vm-action-disabled {
  //color: #cfcfcf !important;
  cursor: default !important;
  opacity: 0.25;
}