.tab:not(#provision-tab) {
  margin-top: -4.3rem;

  @include breakpoint(small only) {
    margin-top: 0;
  }
}

.right-list,
.right-info,
.right-form,
.actions_row {
  padding: 0 1rem;
}

#top-row {
  padding: 1rem 0 0.5rem 0;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  //background: #f8f8f8;
  position: relative;
  //border-bottom: 1px solid #dfdfdf;

  .user-zone-info {
    margin-bottom: 0.5rem;
    
    a {
      font-weight: bold;
      color: $bold-black;
    }

    @include breakpoint(small only) {
      .username,
      .zonename {
        display: none;
      }
    }
  }
  
  .opennebula-img {
    height: 1.2rem;
    @include breakpoint(medium only) {
      display: none;
    }
  }

  .logo-header {
    margin-top: 0.5rem;
  }

  #menu-toggle {
    z-index: 900;
    position: relative;
    @include breakpoint(large) {
      display: none;
    }
  }
}

.provision-logo {
  img {
    height: 3rem;
  }
}

.header-title {
  margin-bottom: 1.5rem;
  @include breakpoint(medium only) {
    margin-left: 3rem;
  }
}


#footer {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: $dark-gray;

  a {
    color: $dark-gray;
  }
}

.action_blocks {
  & > span {
    padding-right: 2rem;
  }
}

.vm-action-disabled {
  //color: #cfcfcf !important;
  cursor: default !important;
  opacity: 0.25;
}