#menu {
  margin-right: 1rem;
  border: 1px solid #dfdfdf;
  padding-top: 5.5rem;
  margin-top: -8rem;
  /* background: #f8f8f8; */
  /* padding-left: 0.2rem; */
  /* box-shadow: 0 0 5px 1px rgba(0,0,0,0.1); */
  /* box-shadow: 3px 0 5px -2px rgba(0,0,0,0.1); */
  /* position: absolute; */

  li {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.topTab {


      & > a {
        //text-transform: uppercase;
        //@include thin-font;
        //font-size: 0.9rem;
        color: $light-black;
      }
    }
    &.subTab > a {
      padding: 0.5rem 1rem;
      color: $dark-gray;
    }

    &.navigation-active-li:not(.topTab) > a {
      color: $black;
      font-weight: bold;
    }

    a {
      font-weight: bold;
    }

    a:hover {
      color: $black;
    }
  }

  .nested {
    margin-left: 0;

    & > li:last-child {
      padding-bottom: 1rem;
    }
  }

  #li_support-tab {
    a {
      background: #f8f8f8;
      margin-top: 1rem;
      border-top: 1px solid #dfdfdf;
      padding: 1rem;

      .support_connect {
        span {
          display: inline-box;
          color: $dark-gray;
          padding: 0.5rem 0 0 0;
        }

        .button {
          margin-top: 1rem;
        }
      }

      .support_info {
        .support_open,
        .support_pending,
        .support_open_value,
        .support_pending_value {
          display: inline-block;
          color: $dark-gray;
          padding: 0.5rem 0 0 0;
        }

        .button {
          margin-top: 1rem;
        }
      }
    }
  }
}

.menu-small {
  position: absolute;
  z-index: 20;
  box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
}

#menu-wrapper {
  margin-top: 3rem;
  padding-top: 5px;
  background-color: white
}

.labels-tree {
  margin-left: 1rem;

  ul {
    margin-left: 1rem;
  }

  .one-label {
    cursor: pointer;
    padding-right: 2rem;
  }

  & > li:last-child {
    padding-bottom: 1em;
  }

  li {
    color: $dark-gray;

    .active {
      color: $light-black;
      font-weight: normal;
    }
  }

  .fa-check-square-o,
  .fa-square-o,
  .fa-minus-square-o {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: rem-calc(4px);
    margin-right: 1rem;
  }
}