table {
  input,
  button,
  select,
  textarea {
    margin-bottom: 0px !important;
  }

  textarea {
    height: $input-font-size + ($form-spacing * 1.5) - rem-calc(1);
    min-height: 0;
  }

  select {
    padding: 0 0.5rem;
  }

  thead {
    border: 0;

    th {
      //@include thin-font;
      //@include thin-font-size;
      font-weight: bold;
      font-size: 1.1rem;
      color: $bold-black;
    }
  }

  tbody {
    border-top: 1px solid smart-scale($table-background, $table-hover-scale);
    border-bottom: 1px solid smart-scale($table-background, $table-hover-scale);
    border-left: 0;
    border-right: 0;
  }

  tfoot {
    border: 0;
  }

  .markrow,
  .markrowchecked { 
    background-color: darken($table-background, $table-hover-scale);
    font-weight: normal;
    //background-color: #cdebf5; 
  }

  &.hover {
    tr:hover {
      cursor: pointer;
    }
  }
}

.dataTables_info {
  @include thin-font;
  margin-left: rem-calc(5px);
}

.dataTables_length {
  select {
    margin-right: 5px;
    height: 1.7rem;
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
}

.dataTableSearchRow {
  input[type="search"],
  .button {
    margin-bottom: 0;
  }
}

.select-resources {
  .refresh-table {
    margin-top: 0.5rem;
  }
}

table{
  .has-tip {
    display: table-cell;
  }
}

span .fa-times:hover {
  cursor: pointer;
}
