.vcenter_credentials {
  margin-bottom: 1rem;

  .button {
    margin-top: 0.5rem;
  }
}

.vcenter_row {
  margin-bottom: 0.7rem;

  a.accordion_advanced_toggle {
    display: initial;
    padding: 0.5rem 1rem;
  }
}