@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/jgrowl/jquery.jgrowl.min.css";
@import "../bower_components/datatables/media/css/dataTables.foundation.min.css";
@import "../bower_components/vis/dist/vis.min.css";

@import "settings";
@import "foundation";

@include foundation-everything;

@include foundation-progress-element;
@include foundation-meter-element;

@mixin thin-font {
  font-weight: 300;
  color: $black;
}

@mixin thin-font-size {
  font-size: 1.2rem;
}

@import './advanced-section';
@import './boxes';
@import './fieldset';
@import './jgrowl';
@import './labels';
@import './layout';
@import './menu';
@import './provision';
@import './range-slider';
@import './table';
@import './tabs';
@import './vcenter';
@import './tree';
@import './helper-classes';
@import './tooltips';
@import './visjs';
@import './flot';

//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 200;
//  font-stretch: condensed;
//  src: local('Open Sans'), local('OpenSans'), url('opensans/opensans.woff') format('woff');
//}

/* From https://www.google.com/fonts/specimen/Lato */
/* latin-ext */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v11/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #555;
  padding: 1rem 0;
  /* box-shadow: 0 5px 5px -4px rgba(0,0,0,0.1); */
  /* border-bottom: 1px solid #dfdfdf; */

}

.thin-font {
  //@include thin-font;
  //@include thin-font-size;
  color: $light-black;
}

a {
  font-weight: normal;
}

.button {
  font-weight: bold;
  margin-right: 0.2rem;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
}

.label {
  font-weight: normal;
}

label.secondary.is-invalid-label {
  background-color: $form-label-color-invalid;
}

input,
select,
textarea {
  font-weight: normal;
  color: $light-black;
}

.right {
  float: right !important; 
}

.left {
  float: left !important; 
}

.graph {
  height: rem-calc(100px);
}

.graph_provision {
  height: rem-calc(80px);
}

.dropdown-pane {
  width: auto;
  max-width: 300px;
}

meter {
  margin-bottom: 0;
}

.disk-resize-icon {
  font-weight: $global-weight-normal;
  margin: 0.3em;
}

.log-tab {
  background: #6f6f6f;
  color: #f2f2f2;
  padding: 20px;
}

.primary-color {
  color: $primary-color;
}
.secondary-color {
  color: $secondary-color;
}
.success-color {
  color: $success-color;
}
.warning-color {
  color: $warning-color;
}
.alert-color {
  color: $alert-color;
}

#mb_input_unit {
  width: 4em;
}