@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/jgrowl/jquery.jgrowl.min.css";
@import "../bower_components/datatables/media/css/dataTables.foundation.min.css";
@import "../bower_components/vis/dist/vis.min.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

@import "settings";
@import "foundation";

@include foundation-everything;

@include foundation-progress-element;
@include foundation-meter-element;

@mixin thin-font {
  font-weight: 300;
  color: $black;
}

@mixin thin-font-size {
  font-size: 1.2rem;
}

@import './layout';
@import './menu';
@import './accordion';
@import './range-slider';
@import './table';
@import './tabs';
@import './fieldset';
@import './boxes';
@import './vcenter';



//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 200;
//  font-stretch: condensed;
//  src: local('Open Sans'), local('OpenSans'), url('opensans/opensans.woff') format('woff');
//}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #555;
  padding: 1rem;
  /* box-shadow: 0 5px 5px -4px rgba(0,0,0,0.1); */
  /* border-bottom: 1px solid #dfdfdf; */

}

.thin-font {
  //@include thin-font;
  //@include thin-font-size;
  color: $light-black;
}

a {
  font-weight: normal;
}

.button {
  font-weight: bold;
  margin-right: 0.2rem;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
}

.label {
  font-weight: normal;
}

label {
  i {
    color: $medium-gray;
  }
}

label.secondary.is-invalid-label {
  background-color: $form-label-color-invalid;
}

input,
select,
textarea {
  font-weight: normal;
  color: $light-black;
}

.right {
  float: right !important; 
}

.left {
  float: left !important; 
}

.graph {
  height: rem-calc(100px);
}

.graph_provision {
  height: rem-calc(80px);
}

.dropdown-pane {
  width: auto;
  max-width: 300px;
}

meter {
  margin-bottom: 0;
}

table{
  .has-tip {
    display: table-cell;
  }
}