@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/jgrowl/jquery.jgrowl.min.css";
@import "../bower_components/datatables/media/css/dataTables.foundation.min.css";
@import "../bower_components/vis/dist/vis.min.css";

@import "settings";
@import "foundation";

@import './top-row';
@import './menu';
@import './accordion';

@include foundation-everything;


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-stretch: condensed;
  src: local('Open Sans'), local('OpenSans'), url('opensans/opensans.woff') format('woff');
}


.right {
  float: right !important; 
}

table {
  input {
    margin-bottom: 0px !important;
  }
}