<div class="row">
  <div class="large-8 medium-6 columns">
    <label class="inline right">{{tr "Zone"}}</label>
  </div>
  <div class="large-4 medium-6 columns end">
    <select class="vdc_zones_select">
    </select>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="tabs-content vdc_zones_tabs_content"></div>
  </div>
</div>