<div id="{{dialogId}}" class="reveal-modal medium" role="dialog" data-reveal >
  <div class="row">
    <h3 class="subheader">{{tr "Import Appliance"}}</h3>
  </div>
  <form data-abide="ajax" id="{{dialogId}}Form">
    <div id="market_import_dialog_content">
    </div>
    <div class="form_buttons row">
      <button type="submit" class="button radius right">
        {{tr "Import"}}
      </button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>