[Unit]
Description=OpenNebula Prometheus LVM Exporter
After=network-online.target
Wants=network-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
User=root
Type=simple
Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/lvm_exporter

[Install]
WantedBy=multi-user.target
