{#
name: OnPrem SSH Cluster (VXLAN)
description: It deploys a SSH cluster On-Premise with an VXLAN network
fireedge:
  logo: "onprem_ssh_cluster.png"
user_inputs:
  - name: phydev_name
    description: Physical device name for the network
    type: string
    default: "eth0"
#}

---
all:
  vars:
    ansible_user: ubuntu
    one_version: {{ one.version }}
    vn:
      private_onprem_network:
        managed: true
        template:
          phydev: "{{ user_inputs.phydev_name }}"
          vn_mad: vxlan
          vxlan_mode: evpn
          vlan_id: automatic
          dns: 8.8.8.8
          gateway: 192.168.0.1
          ip_link_conf: nolearning=
          ar:
            - type: IP4
              ip: 192.168.0.100
              size: 100
    ds:
      mode: generic
      config:
        SYSTEM_DS:
          onprem_system_ds:
            id: {{ one.system_ds_id }}
            template:
              type: SYSTEM_DS
              tm_mad: ssh
              safe_dirs: /var/tmp /tmp
        IMAGE_DS:
          onprem_image_ds:
            id: {{ one.image_ds_id }}
            template:
              type: IMAGE_DS
              ds_mad: fs
              tm_mad: ssh
              safe_dirs: /var/tmp /tmp

frontend:
  hosts:
    f1: { ansible_user: root, ansible_host: {{ one.frontend_ip}} }

node:
  hosts:
    {% for node in one.nodes %}
    n{{ loop.index }}: { ansible_user: root, ansible_host: {{ node }} }
    {% endfor %}

router:
  hosts:
    f1: { ansible_user: root, ansible_host: {{ one.frontend_ip }} }
