<div id="wrapper">
      <div id="logo_sunstone" style="
    background: url(<%=$views_config.logo%>) no-repeat center;
    background-size: 355px;">
      </div>

      <form id="login_form">
        <div class="border" id="login" style='height:169px;background:url("../images/panel_short.png") no-repeat scroll center transparent'>
            <div class="content">
                <input style="float:left;" type="submit" id="login_btn" value="" />
                <input type="checkbox" id="check_remember" />
                <label id="label_remember" for="check_remember">Keep me logged in</label>

            </div>
        <div id="error_box" class="hidden alert-box alert" style="display: none">
          <span id="auth_error"></span>
          <span id="one_error"></span>
        </div>
        </div>
      </form>
</div>
