<div class="border columns small-6 small-centered small-offset-3 text-center" id="login" style='height:169px;background:url("../images/panel_short.png") no-repeat scroll center transparent'>
  <div class="content">
  <div class="row buttons small-collapse">
    <div class="columns small-6 text-left">
      <% if $conf[:keep_me_logged] %>
        <input type="checkbox" id="check_remember" />
        <label id="label_remember" for="check_remember">Keep me logged in</label>
      <% end %>
    </div>
    <div class="columns small-6 text-right">
      <button type="submit" id="login_btn"></button>
    </div>
  </div>
</div>