<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Console</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/css/wmks-all.css"/>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/wmks.min.js"></script>
<div id="wmksContainer" style="position:absolute;width:100%;height:100%"></div>
<script>
    var wmks = WMKS.createWMKS("wmksContainer", {})
        .register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function (event, data) {
            if (data.state == WMKS.CONST.ConnectionState.CONNECTED) {
                console.log("connection state change : connected");
            }
        });
    wmks.connect("wss://<%= host %>:<%= port %>/ticket/<%= ticket %>");
</script>
</body>
</html>
