<!DOCTYPE html>
<html>
<head>
    <title>OpenNebula Sunstone: Cloud Operations Center</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Vendor Libraries -->
    <link rel="stylesheet" type="text/css" href="vendor/dataTables/demo_table_jui.css" />
    <link rel="stylesheet" type="text/css" href="vendor/dataTables/ColVis.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jQueryUI/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jGrowl/jquery.jgrowl.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jQueryLayout/layout-default-latest.css" />
    <link rel="stylesheet" type="text/css" href="vendor/FontAwesome/css/font-awesome.css" />

    <script type="text/javascript" src="vendor/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="vendor/jGrowl/jquery.jgrowl_minimized.js"></script>
    <script type="text/javascript" src="vendor/jQueryUI/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="vendor/jQueryLayout/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="vendor/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="vendor/dataTables/ColVis.min.js"></script>
<!--    <script type="text/javascript" src="vendor/dataTables/ColReorderWithResize.js"></script>-->
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.pie.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="vendor/fileuploader/fileuploader.js"></script>
    <!--[if lte IE 8]>
        <script type="text/javascript" src="vendor/explorercanvas/excanvas.compiled.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.9.2.custom.min.css" />

    <!-- End Vendor Libraries -->
    <style>


        .paging_full_numbers {
            width: auto !important;
            margin-right: 0px;
        }

        .ui-tabs-vertical {
            width: 71em;
        }
        .ui-tabs-vertical .ui-tabs-nav-vert {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }

        .ui-tabs-vertical .ui-tabs-nav-vert li {
            clear: left;
            width: 100%;
            border: 0px;
            font-weight: normal;
        }

        .ui-tabs-vertical .ui-tabs-nav-vert li a {
            display: block;
            border: 0px;      
            font-weight: normal;  }

        .ui-tabs-vertical .ui-tabs-nav-vert li.ui-tabs-selected {
            padding-bottom: 0;
            padding-right: .1em;
        }

        .ui-tabs-vertical .ui-tabs-panel {
            padding: 1em;
            float: left;
            width: 56em;
        }






*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; } 

body { background: white; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }



/* Tabs ---------------------- */
.tabs { list-style: none; border-bottom: solid 1px #e6e6e6; display: block; height: 40px; padding: 0; margin-bottom: 20px; }
.tabs.contained { margin-bottom: 0; margin-left: 0; }
.tabs dt, .tabs li.section-title { color: #b3b3b3; cursor: default; display: block; float: left; font-size: 12px; height: 40px; line-height: 40px; padding: 0; padding-right: 9px; padding-left: 20px; font-weight: normal; width: auto; text-transform: uppercase; }
.tabs dt:first-child, .tabs li.section-title:first-child { padding: 0; padding-right: 9px; }
.tabs dd, .tabs li { display: block; float: left; padding: 0; margin: 0; }
.tabs dd a, .tabs li a { color: #6f6f6f; display: block; font-size: 14px; height: 40px; line-height: 40px; padding: 0px 23.8px; }
.tabs dd a:focus, .tabs li a:focus { font-weight: bold; color: #2ba6cb; }
.tabs dd.ui-state-active, .tabs li.ui-state-active { border-top: 3px solid #2ba6cb; margin-top: -3px; }
.tabs dd.ui-state-active a, .tabs li.ui-state-active a { cursor: default; color: #3c3c3c; background: #fff; border-left: 1px solid #4d4d4d; border-right: 1px solid #e6e6e6; font-weight: bold; }
.tabs dd:first-child, .tabs li:first-child { margin-left: 0; }
.tabs.vertical { height: auto; border-bottom: 1px solid #e6e6e6; }
.tabs.vertical dt, .tabs.vertical dd, .tabs.vertical li { float: none; height: auto; }
.tabs.vertical dd, .tabs.vertical li { border-left: 3px solid #0098C3; }
.tabs.vertical dd a, .tabs.vertical li a { background: #4d4d4d; border: none; color: #fff; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.tabs.vertical dd.ui-state-active, .tabs.vertical li.ui-state-active { margin-top: 0; border-top: 0px solid #4d4d4d; border-left: 3px solid #4d4d4d; }
.tabs.vertical dd.ui-state-active a, .tabs.vertical li.ui-state-active a { background: #0098C3; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
.tabs.vertical dd:first-child a.ui-state-active, .tabs.vertical li:first-child a.ui-state-active { margin: 0; }
.tabs.pill { border-bottom: none; margin-bottom: 10px; }
.tabs.pill dd, .tabs.pill li { margin-right: 10px; }
.tabs.pill dd:last-child, .tabs.pill li:last-child { margin-right: 0; }
.tabs.pill dd a, .tabs.pill li a { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; background: #e6e6e6; height: 26px; line-height: 26px; color: #666; }
.tabs.pill dd.ui-state-active, .tabs.pill li.ui-state-active { border: none; margin-top: 0; }
.tabs.pill dd.ui-state-active a, .tabs.pill li.ui-state-active a { background-color: #2ba6cb; border: none; color: #fff; }
.tabs.pill.contained { border-bottom: solid 1px #eee; margin-bottom: 0; }
.tabs.pill.two-up dd, .tabs.pill.two-up li, .tabs.pill.three-up dd, .tabs.pill.three-up li, .tabs.pill.four-up dd, .tabs.pill.four-up li, .tabs.pill.five-up dd, .tabs.pill.five-up li { margin-right: 0; }
.tabs.two-up dt a, .tabs.two-up dd a, .tabs.two-up li a, .tabs.three-up dt a, .tabs.three-up dd a, .tabs.three-up li a, .tabs.four-up dt a, .tabs.four-up dd a, .tabs.four-up li a, .tabs.five-up dt a, .tabs.five-up dd a, .tabs.five-up li a { padding: 0 17px; text-align: center; overflow: hidden; }
.tabs.two-up dt, .tabs.two-up dd, .tabs.two-up li { width: 50%; }
.tabs.three-up dt, .tabs.three-up dd, .tabs.two-up li { width: 33.33%; }
.tabs.four-up dt, .tabs.four-up dd, .tabs.two-up li { width: 25%; }
.tabs.five-up dt, .tabs.five-up dd, .tabs.two-up li { width: 20%; }

ul.tabs-content { display: block; margin: 0 0 20px; padding: 0; }
ul.tabs-content > li { display: none; }
ul.tabs-content > li.ui-state-active { display: block; }
ul.tabs-content.contained { padding: 0; }
ul.tabs-content.contained > li { border: solid 0 #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px; }
ul.tabs-content.contained.vertical > li { border-width: 1px 1px 1px 1px; }

/* Standard Forms ---------------------- */
form { margin: 0 0 19.41641px; }

.row form .row { margin: 0 -6px; }
.row form .row .column, .row form .row .columns { padding: 0 6px; }
.row form .row.collapse { margin: 0; }
.row form .row.collapse .column, .row form .row.collapse .columns { padding: 0; }

label { font-size: 14px; color: #4d4d4d; cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
label.right { float: none; text-align: right; }
label.inline { line-height: 32px; margin: 0 0 12px 0; }

.prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 32px; line-height: 31px; }

a.button.prefix, a.button.postfix { padding-left: 0; padding-right: 0; text-align: center; }

span.prefix, span.postfix { background: #f2f2f2; border: 1px solid #cccccc; }

.prefix { left: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; overflow: hidden; }

.postfix { right: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { background-color: white; font-family: inherit; border: 1px solid #cccccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); display: block; font-size: 14px; margin: 0 0 0px 0px; padding: 6px; width: 100%; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize { font-size: 17px; padding: 4px 6px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #fafafa; outline: none !important; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #ddd; }

textarea { height: auto; }

select { width: 100%; }

/* Fieldsets */
fieldset { border: solid 1px #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 12px 12px 0; margin: 18px 0; }
fieldset legend { font-weight: bold; background: white; padding: 0 3px; margin: 0; margin-left: -3px; }



/* The Grid ---------------------- */
.row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.one, .row .one { width: 8.33333%; }

.two, .row .two { width: 16.66667%; }

.three, .row .three { width: 25%; }

.four, .row .four { width: 33.33333%; }

.five, .row .five { width: 41.66667%; }

.six, .row .six { width: 50%; }

.seven, .row .seven { width: 58.33333%; }

.eight, .row .eight { width: 66.66667%; }

.nine, .row .nine { width: 75%; }

.ten, .row .ten { width: 83.33333%; }

.eleven, .row .eleven { width: 91.66667%; }

.twelve, .row .twelve { width: 100%; }

.row .offset-by-one { margin-left: 8.33333%; }

.row .offset-by-two { margin-left: 16.66667%; }

.row .offset-by-three { margin-left: 25%; }

.row .offset-by-four { margin-left: 33.33333%; }

.row .offset-by-five { margin-left: 41.66667%; }

.row .offset-by-six { margin-left: 50%; }

.row .offset-by-seven { margin-left: 58.33333%; }

.row .offset-by-eight { margin-left: 66.66667%; }

.row .offset-by-nine { margin-left: 75%; }

.row .offset-by-ten { margin-left: 83.33333%; }

.push-two { left: 16.66667%; }

.pull-two { right: 16.66667%; }

.push-three { left: 25%; }

.pull-three { right: 25%; }

.push-four { left: 33.33333%; }

.pull-four { right: 33.33333%; }

.push-five { left: 41.66667%; }

.pull-five { right: 41.66667%; }

.push-six { left: 50%; }

.pull-six { right: 50%; }

.push-seven { left: 58.33333%; }

.pull-seven { right: 58.33333%; }

.push-eight { left: 66.66667%; }

.pull-eight { right: 66.66667%; }

.push-nine { left: 75%; }

.pull-nine { right: 75%; }

.push-ten { left: 83.33333%; }

.pull-ten { right: 83.33333%; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.ui-slider-range { background: #4d4d4d; }

/* Tables ---------------------- */
.table { background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd; }

.table thead, .table tfoot { background: #f5f5f5; }

.table thead tr th, .table tfoot tr th, .table tbody tr td, .table tr td, .table tfoot tr td { display: table-cell; font-size: 12; line-height: 10px; text-align: left; }

.table thead tr th, .table tfoot tr td { padding: 8px 10px 9px; font-size: 12px; font-weight: bold; color: #222; }

.table thead tr th:first-child, .table tfoot tr td:first-child { border-left: none; }

.table thead tr th:last-child, .table tfoot tr td:last-child { border-right: none; }

.table tbody tr.even, .table tbody tr.alt { background: #f9f9f9; }

.table tbody tr:nth-child(even) { background: #f9f9f9; }

.table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

hr{margin:18px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}

/* Labels ---------------------- */
.label { padding: 1px 4px 2px; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #fff; background: #2ba6cb; }
.label.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.label.round { padding: 1px 7px 2px; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
.label.alert { background-color: #c60f13; }
.label.success { background-color: #5da423; }
.label.secondary { background-color: #e9e9e9; color: #505050; }

.markrow { background-color:#ffbba9 !important; }
    </style>
    <!--Languages-->
    <script type="text/javascript" src="js/locale.js"></script>
<%if session[:lang]%>
    <script type="text/javascript" src="locale/<%=session[:lang]%>/<%=session[:lang]%>.js"></script>
<%end%>
    <!--endLanguages-->

    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <script type="text/javascript" src="js/opennebula.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <script type="text/javascript" src="js/sunstone.js"></script>
    <script type="text/javascript" src="js/sunstone-util.js"></script>
    <script type="text/javascript" src="js/monitoring.js"></script>

    <!-- Base Plugins -->
<% @plugins["plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/plugins/<%= plugin %>"></script>
<% end %>
    <!--<script type="text/javascript" src="js/plugins/dummy-plugin.js"></script>-->
    <!-- End Base Plugins -->

    <!-- User Plugins -->
<% @plugins["user-plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/user-plugins/<%= plugin %>"></script>
<% end %>
    <!-- End User Plugins -->

</head>
<body>

<div class="outer-center">
    <div class="inner-center">
    </div>
    <div id="dialog" class="inner-south"></div>
</div>

<div id="menu" class="outer-west">
    <ul id="navigation" class="navigation">
    </ul>
</div>

<div id="header" class="ui-layout-north">
    <div id="logo">
        <img src="images/opennebula-sunstone-small.png"/>
    </div>

    <div id="menutop_container">
      <div id="menutop_navbar">
        <ul id="menutop_ul">

        </ul>
      </div>
    </div>

    <div id="login-info">
        <span id="welcome">Welcome</span>&nbsp;<span id="user"></span>&nbsp;|&nbsp;<a href="#" id="logout">Sign Out</a>
    </div>
    <div id="links">
        <a href="http://opennebula.org/documentation:documentation" target="_blank" id="doc_link">Documentation</a>&nbsp;|&nbsp;
        <a href="http://opennebula.org/support:support" target="_blank" id="support_link">Support</a>&nbsp;|&nbsp;
        <a href="http://opennebula.org/community:community" target="_blank" id="community_link">Community</a>
    </div>
</div>
<div id="footer" style="overflow:visible;" class="ui-layout-south">
    <a href="http://opennebula.org" target="_blank">OpenNebula 3.9.0</a> by <a href="http://c12g.com" target="_blank">C12G Labs</a>.
</div>


<div id="dialogs">

</div>
<div id="plots">

</div>
<div id="info_panels"></div>
</body>
</html>