<!DOCTYPE html>
<html>
<head>
    <title>OpenNebula Sunstone: Cloud Operations Center</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Vendor Libraries -->

    <script type="text/javascript" src="vendor/4.0/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/4.0/jgrowl/jquery.jgrowl.css"/>
    <script type="text/javascript" src="vendor/4.0/jgrowl/jquery.jgrowl.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/4.0/fontawesome/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="vendor/4.0/jquery_layout/layout-default-latest.css" />
    <script type="text/javascript" src="vendor/4.0/jquery_layout/jquery.layout-latest.min.js"></script>

    <script type="text/javascript" src="vendor/4.0/foundation/modernizr.foundation.js"></script>

    <script type="text/javascript" src="vendor/4.0/datatables/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript" src="vendor/4.0/foundation_datatables/responsive-tables.js"></script>
    <script type="text/javascript" src="vendor/4.0/foundation_datatables/datatables.foundation.js"></script>



    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.pie.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="vendor/fileuploader/fileuploader.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/4.0/nouislider/nouislider.css"/>
    <script type="text/javascript" src="vendor/4.0/nouislider/jquery.nouislider.min.js"></script>

    <!--[if lte IE 8]>
        <script type="text/javascript" src="vendor/explorercanvas/excanvas.compiled.js"></script>
    <![endif]-->




    <!--Languages-->
    <script type="text/javascript" src="js/locale.js"></script>
<%if session[:lang]%>
    <script type="text/javascript" src="locale/<%=session[:lang]%>/<%=session[:lang]%>.js"></script> 
<%end%>
    <!--endLanguages-->

    <!--<link rel="stylesheet" type="text/css" href="css/application.css" />-->
    <link href="css/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />

    <!--<link rel="stylesheet" type="text/css" href="css/layout.css" />-->
    <script type="text/javascript" src="js/opennebula.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <script type="text/javascript" src="js/sunstone.js"></script>
    <script type="text/javascript" src="js/sunstone-util.js"></script>
    <script type="text/javascript" src="js/monitoring.js"></script>

    <!-- Base Plugins -->
<% @plugins["plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/plugins/<%= plugin %>"></script>
<% end %>
    <!--<script type="text/javascript" src="js/plugins/dummy-plugin.js"></script>-->
    <!-- End Base Plugins -->

    <!-- User Plugins -->
<% @plugins["user-plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/user-plugins/<%= plugin %>"></script>
<% end %>
    <!-- End User Plugins -->

</head>
<body>

<div class="outer-center" id="tabs_content">
    <div class="inner-center">
    </div>
    <div id="dialog" class="inner-south"></div>
</div>

<div id="menu" class="outer-west">
    <div id="logo">
        <img src="images/opennebula-sunstone-big.png"/>
    </div>
    <ul id="navigation" class="tabs vertical">
    </ul>
</div>


<!--<div id="footer" style="overflow:visible;" class="ui-layout-south">
    <a href="http://opennebula.org" target="_blank">OpenNebula 3.9.0</a> by <a href="http://c12g.com" target="_blank">C12G Labs</a>.
</div>-->


<div id="dialogs">

</div>
<div id="plots">

</div>
<div id="info_panels"></div>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.reveal.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.orbit.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.forms.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.placeholder.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.tooltips.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.alerts.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.buttons.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.accordion.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.navigation.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.mediaQueryToggle.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/jquery.foundation.tabs.js"></script>
    <script type="text/javascript"  src="vendor/4.0/foundation/app.js"></script>
</body>
</html>