<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OpenNebula Sunstone Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />

    <!-- Vendor Libraries -->
    <script type="text/javascript" src="vendor/jQuery/jquery-1.7.2.min.js"></script>
    <!-- End Vendor Libraries -->

    <script type="text/javascript" src="js/opennebula.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

</head>


<body>
<div id="header">
    <div id="logo">
        The OpenNebula Cloud Operations Center
    </div>
</div>

<% if settings.config[:auth] == "x509" %>
  <%= erb :_login_x509 %>
<% else %>
  <%= erb :_login_standard %>
<% end %>

</body>
</html>
