<div id="{{dialogId}}" class="reveal-modal" data-reveal>
  <div class="row">
    <h3 class="subheader">
      {{tr "Confirm"}}
      <br>
      &emsp;
      <small class="confirm_action"></small>
    </h3>
  </div>
  <form action="">
    <div class="row">
      <div id="confirm_with_select_tip">{{tr "You need to select something."}}</div>
    </div>
    <br />
    <div class="row">
      <div class="large-12 columns" id="confirm_select"></div>
    </div>
    <br />
    <br />
    <div class="form_buttons">
      <button id="confirm_with_select_proceed" class="action_button radius button right" value="">{{tr "OK"}}</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>