<div class="row">
  <div class="large-12 columns">
    <table class="custom_tags dataTable policies_table">
      <thead>
        <tr>
          <th>{{tr "KEY"}}</th>
          <th>{{tr "VALUE"}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <a type="button" class="add_custom_tag button small small-12 secondary radius">
              <i class="fa fa-plus"></i> {{tr "Add another attribute"}}
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>