<tr>
  <td>
    <input class="custom_tag_key" type="text" name="key" value="{{key}}">
</td>
<td>
  <textarea class="custom_tag_value" name="value">
    {{~value~}}
  </textarea>
</td>
<td>
  <a href="#"><i class="fa fa-times-circle remove-tab"></i></a>
</td>
</tr>