<tr>
  <td>
    <input class="custom_vector_attribute_key" type="text" name="key" value="{{key}}">
  </td>
  <td>
    <textarea class="custom_vector_attribute_value" name="value">
      {{~value~}}
    </textarea>
  </td>
  <td>
    <a href="#"><i class="fa fa-times-circle remove-tab"></i></a>
  </td>
</tr>