<tr>
  <td class="key_td">{{tr "Group"}}</td>
  <td id="value_td_group">{{element.GNAME}}</td>
  <td>
    <div id="div_edit_chg_group">
      <a id="div_edit_chg_group_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
    </div>
  </td>
</tr>