{#
name: i3Dnet SSH Cluster
description: It deploys a SSH cluster on i3Dnet
fireedge:
  logo: "i3dnet_ssh_cluster.png"
#}

---
all:
  vars:
    one_version: "{{ one.version }}"
    vn:
      private_i3dnet_network:
        managed: true
        template:
          vn_mad: vxlan
          vxlan_mode: evpn
          automatic_vlan_id: "yes"
          phydev: enp125s0
          ip_link_conf: nolearning=
          guest_mtu: 1450
          network_address: 172.17.2.0
          network_mask: 255.255.255.0
          gateway: 172.17.2.1
          dns: 1.1.1.1
          ar:
            type: ip4
            ip: 172.17.2.100
            size: 100
    ds:
      mode: generic
      config:
        SYSTEM_DS:
          i3dnet_system_ds:
            id: "{{ one.system_ds_id}}"
            template:
              type: SYSTEM_DS
              tm_mad: ssh
              safe_dirs: /var/tmp /tmp
        IMAGE_DS:
          i3dnet_image_ds:
            id: "{{ one.image_ds_id }}"
            template:
              type: IMAGE_DS
              ds_mad: fs
              tm_mad: ssh
              safe_dirs: /var/tmp /tmp

frontend:
  hosts:
    f1: { ansible_user: root, ansible_host: "{{ one.frontend_ip }}" }

node:
  hosts:
    {% for node in one.nodes %}
    n{{ loop.index }}: { ansible_user: root, ansible_host: "{{ node }}" }
    {% endfor %}

router:
  hosts:
    {% if one.nodes | length > 0 %}
    n1: { ansible_user: root, ansible_host: "{{ one.nodes[0] }}" }
    {% endif %}
