[Unit]
Description=OpenNebula Prometheus MySQL Exporter
After=network-online.target
Wants=network-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
User=oneadmin
Group=oneadmin
Type=simple
Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/mysqld_exporter --config.my-cnf=/var/lib/one/.my.cnf

[Install]
WantedBy=multi-user.target
