<dl class="tabs vertical" id="{{linksContainerId}}" data-tab>
  <dt class="text-center">
    <a href="#" class="button tiny radius" id="tf_btn_disks">
      <span class="fa fa-plus"></span>
      {{tr "Add another disk"}}
    </a>
  </dt>
</dl>
<div class="tabs-content vertical" id="{{contentsContainerId}}"></div>