{{#advancedSection (tr "Clusters") }}
<span class="fa-stack fa-2x" style="color: #dfdfdf">
  <i class="fa fa-cloud fa-stack-2x"></i>
  <i class="fa  fa-spinner fa-spin fa-stack-1x fa-inverse"></i>
</span>
{{/advancedSection}}
