<div class="row text-left support_connect">
  <div class="large-6 columns" style="font-">
    <p>The Support Subscription provides expert integration and production support on supported platforms and include:</p>
    <ul class="fa-ul" style="font-size: 14px;">
      <li><i class="fa-li fa fa-check"></i>Problem diagnosis, resolution and bug fixing</li>
      <li><i class="fa-li fa fa-check"></i>Solving unexpected problems when using, installing or configuring the software</li>
      <li><i class="fa-li fa fa-check"></i>Guidance about tuning for optimal and scalable performance in your environment</li>
      <li><i class="fa-li fa fa-check"></i>Answering “how to” questions related to standard and intended product usage</li>
      <li><i class="fa-li fa fa-check"></i>Offering hints about how to go around missing features</li>
      <li><i class="fa-li fa fa-check"></i>Answering questions about product adaptation and integration</li>
    </ul>
    <p>For more info on support subcriptions, <a href="http://opennebula.systems/support/" target="_blank">click here</a></p>
  </div>
  <div class="large-6 columns" style="padding: 0px 50px;">
    <fieldset>
      <legend>Commercial Support</legend>
      <form id="support_credentials_form">
        <div class="large-12 columns">
          <label for="support_email">Email</label>
          <input id="support_email" type="text"></input>
        </div>
        <div class="large-12 columns">
          <label for="support_password">Password</label>
          <input id="support_password" type="password"></input>
        </div>
        <div class="large-12 columns">
          <button class="button right radius success submit_support_credentials_button" type="submit">Sign in</button>
        </div>
        <div class="large-12 columns text-center">
          <p>or</p>
        </div>
        <div class="large-12 columns">
          <a  href="http://opennebula.systems/buy/" target="_blank" class="button large-12 radius" style="color: #fff !important">Get an account</a>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-left">
    <h3 class="subheader"><i class="fa fa-fw fa-info-circle"></i> Additional Help Resources</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="large-6 columns">
    <a href="http://docs.opennebula.org/4.12/" target="_blank">
      <span class="fa-stack fa-2x" style="color: #cfcfcf;">
       <i class="fa fa-circle fa-stack-2x"></i>
       <i class="fa fa-book fa-stack-1x fa-inverse"></i>
     </span>
     <br>
     Documentation
   </a>
 </div>
 <div class="large-6 columns">
  <a href="http://opennebula.org/support/community/" target="_blank">
    <span class="fa-stack fa-2x" style="color: #cfcfcf;">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
   </span>
   <br>
   Community
 </a>
</div>
</div>
<br>
<p class="text-center" style="font-size: 14px; color: #999;">This tab can be disabled in the sunstone views configuration files</p>