{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row text-left support_connect">
  <div class="medium-6 columns" style="font-">
    <p>OpenNebula Enterprise Subscriptions provide access to the Enterprise Edition of the software with benefits including:</p>
    <ul class="fa-ul" style="font-size: 14px;">
      <li><i class="fa-li fas fa-check"></i>Access to upgrades, maintenance releases, security patches and minor enhancements</li>
      <li><i class="fa-li fas fa-check"></i>Enterprise features that are not included in the Community Edition of the software</li>
      <li><i class="fa-li fas fa-check"></i>Access to Long-Term Supported (LTS) versions of the OpenNebula software, for flexibility and stability in your upgrade strategy.</li>
      <li><i class="fa-li fas fa-check"></i>Enterprise tools for automation and simplification of upgrades, maintenance and management activities.</li>
    </ul>
    <p>And Standard and Premium subscription levels provide exclusive access to our expert product support under established SLAs, helping you with:</p>
    <ul class="fa-ul" style="font-size: 14px;">
      <li><i class="fa-li fas fa-check"></i>Issue resolution, problem diagnosis, and bug fixes</li>
      <li><i class="fa-li fas fa-check"></i>Software installation and configuration</li>
      <li><i class="fa-li fas fa-check"></i>Tuning and optimization for performance</li>
      <li><i class="fa-li fas fa-check"></i>And other inquiries and questions</li>
    </ul>
    <p>For more info on support subcriptions, <a href="{{ support_subscription }}" target="_blank">click here</a></p>
  </div>
  <div class="medium-6 columns" style="padding: 0px 50px;">
    <fieldset>
      <legend>Commercial Support</legend>
      <form id="support_credentials_form">
        <div class="large-12 columns">
          <label for="support_email">Email</label>
          <input id="support_email" autocomplete="email" type="text"></input>
        </div>
        <div class="large-12 columns">
          <label for="support_password">Password</label>
          <input id="support_password"  autocomplete="current-password" type="password"></input>
        </div>
        <div class="large-12 columns">
          <button class="button right radius success submit_support_credentials_button" type="submit">Sign in</button>
        </div>
        <div class="large-12 columns text-center">
          <p>or</p>
        </div>
        <div class="large-12 columns">
          <a  href="{{ account }}" target="_blank" class="button large-12 radius" style="color: #fff !important">Get an account</a>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-left">
    <h3 class="subheader"><i class="fas fa-fw fa-info-circle"></i> Additional Help Resources</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="medium-6 columns">
    <a href="{{ docs }}" target="_blank">
      <span class="fa-stack fa-2x" style="color: #cfcfcf;">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fas fa-book fa-stack-1x fa-inverse"></i>
     </span>
     <br>
     Documentation
   </a>
 </div>
 <div class="medium-6 columns">
  <a href="{{ community }}" target="_blank">
    <span class="fa-stack fa-2x" style="color: #cfcfcf;">
     <i class="fas fa-circle fa-stack-2x"></i>
     <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
   </span>
   <br>
   Community
 </a>
</div>
</div>
<br>