<span class="support_title"><i class="fa fa-lg fa-fw fa-support"></i> Support</span>
<br>
<div class="support_info" style="display: none;">
  <span class="support_open">Open</span><span class="label secondary right support_open_value">-</span>
  <br>
  <span class="support_pending">Pending</span><span class="label right support_pending_value">-</span>
  <br>
  <button class="button tiny success radius support_button">Submit a Request</button>
</div>
<div class="support_connect" style="display: none;">
  <span class="">Not connected</span>
  <br>
  <button class="button tiny success radius support_connect_button">Sign in</button>
</div>