<div class="row">
  <div class="large-12 columns">
    <button id="import_wilds" class="button tiny success right radius" >{{tr "Import Wilds"}}</button>
    <table id="datatable_host_wilds" class="datatable twelve">
      <thead>
        <tr>
          <th></th>
          <th>{{tr "VM name"}}</th>
          <th>{{tr "Remote ID"}}</th>
        </tr>
      </thead>
      <tbody id="tbody_host_wilds"></tbody>
    </table>
  </div>
</div>