/*
.primary-color {
  color: #4DBBD3;
}
.secondary-color {
  color: #8a8a8a;
}
.success-color {
  color: #3adb76;
}
.warning-color {
  color: #ffae00;
}
.alert-color {
  color: #ec5840;
}*/

/*-----APP----*/

body{
	padding:0;margin:0;
	font-family:"Lato","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight:300;
	line-height:1.5;
	color:#0a0a0a;
	background:#fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #555;
}

.thin-font {
  color: #333;
}

label.secondary.is-invalid-label {
  background-color: #ec5840;
}

.log-tab {
  background: #6f6f6f;
  color: #f2f2f2;
}

fieldset legend {
    border-bottom: .1538461538rem solid #4DBBD3;
    color: #555;
}


/*----BUTTONS----*/
.button {
    font-weight: bold;
    margin-right: 0.2rem;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    font-size: 1rem;
    background-color: #4DBBD3;
    color: #fefefe;
}
.button.secondary {
    background-color: #8a8a8a;
    color: #fefefe;
}
.button.success {
    background-color: #3adb76;
    color: #fefefe;
}
.button.alert {
    background-color: #ec5840;
    color: #fefefe;
}

/*----MENU----*/

#menu-wrapper {
  border: 1px solid #dfdfdf;
  background: #f8f8f8;
}

#menu #li_support-tab a {
    border: 1px solid #dfdfdf;
    background: #fff;
}

/*----LAYOUT---*/

#footer {
  font-size: 0.8rem;
  color:#8a8a8a;
}

#footer a{
    color: #8a8a8a;
}

.provision-logo img {
    height: 3rem;
}

#top-row .user-zone-info a{
	font-weight:bold;
	color:#555;
}
#top-row .user-zone-info .submenu a{
	color:#8a8a8a;
}
#top-row .user-zone-info .submenu a:hover{
	color:#0a0a0a;
}

.labels-tree li .labeltree-line{
  color:#8a8a8a;
  display: inline-block;
  padding: 0 0 0 .5rem;
}
.labels-tree li .labeltree-line:hover{
	color:#0a0a0a;
}
.labels-tree li .labeltree-line .active{
	color:#333;
	font-weight:bold;
}
.labels-tree .tree-toggle:hover{
	color:#0a0a0a;
}
#menu .labels-tree{
  padding: .5rem 0;
}
.labels-tree li{
  padding:  .1rem 0;
}

/*----TABLE----*/

table tbody{
	border-top:1px solid #f4f4f4;
	/*color: #fff;
	background: #4DBBD3;*/
	border-bottom:1px solid #f4f4f4;
}
table thead th{
	color:#555;
}
table .markrow,table .markrowchecked{
	background-color:#f4f4f4;
	font-weight:normal;
}

.fadeinout{
  opacity: 1;
  animation: fade 1s ease-in-out infinite;
}

@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}

.card{
  background-color: #ffffff;
  text-align: center;
  border: 3px solid #f8f8f8;
}
meter {
  height: .9rem !important;
}
.dashboard-div-titles{
  text-align: left;
  margin-top: -20px;
}
.dashboard-div-buttons{
  text-align: right;
}
.number-title{
  margin-top: -15px;
}
.label-card{
  margin-top: -25px;
}
.dashboard-fieldset{
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
}

.tabs.vertical .tabs-title.is-active {
  border: .1538461538rem solid #4DBBD3;
  border-right:  0px;
  border-radius: 15px 0px 0px 15px;
  padding-left: 15px;
}

.tabs-content.vertical {
  border-left: .1538461538rem solid #4DBBD3;
  min-height: 200px;
}

.tabs-content.vertical.disks-container {
  min-height: 400px;
}

.search-button {
  color: #8a8a8a;
  padding: 0.6em;
}