
  <div class="row" id="vmgroup_section_tables">
    <div class="medium-12 columns">
      <a class="button secondary small clear_vmgroup_select" style="float:right">
        <i class="fas fa-lg fa-times-circle"></i> {{tr "Clear"}}
      </a>
    </div>
    <div class="medium-8 columns">
      {{{vmGroupTableHTML}}}
    </div>
    <div class="medium-4 columns" id="role_section">
      <div>
        <h6 class="title_roles">{{tr "Roles"}}</h6>
        <select name="roles" class="role_table_section" size="5" style="height: auto;">
        </select>
      </div>
    </div>
  </div>