<fieldset>
  <legend>
    <i class="fa fa-globe"></i> {{tr "VM Group"}}
  </legend>
  <div>
    <a class="button small provision_add_vmgroup">
      <i class="fa fa-lg fa-plus-circle add_vmgroup"></i> {{tr "VM Group"}}
    </a>
  </div>
  <div class="row" id="vmgroup_section_tables">
    <div class="medium-6 columns">
      {{{vmGroupTableHTML}}}
    </div>
    <div class="medium-6 columns" id="role_section">
      <div style= "margin-top: 4em">
        <h6>Roles</h6>
        <select name="roles" id="role_table_section" size="5" style="height: auto;">
        </select>
      </div>
    </div>
  </div>
</fieldset>