<div id="datatable_host_esx_info_div" class="row">
  <div class="large-12 columns">
    <table id="datatable_host_esx" class="datatable twelve">
      <thead>
        <tr>
          <th>{{tr "Hostname"}}</th>
          <th>{{tr "Status"}}</th>
          <th>{{tr "Real CPU"}}</th>
          <th>{{tr "Real Memory"}}</th>
        </tr>
      </thead>
      <tbody id="tbody_host_esx"></tbody>
    </table>
  </div>
</div>